/*
 * FortisApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package tech.fortis.sandbox.api.controllers;

import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.UUID;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;
import tech.fortis.sandbox.api.ApiHelper;
import tech.fortis.sandbox.api.Server;
import tech.fortis.sandbox.api.exceptions.ApiException;
import tech.fortis.sandbox.api.exceptions.Response401TokenException;
import tech.fortis.sandbox.api.http.request.HttpMethod;
import tech.fortis.sandbox.api.http.response.ApiResponse;
import tech.fortis.sandbox.api.models.ResponseAsyncStatus;

/**
 * This class lists all the endpoints of the groups.
 */
public final class AsyncProcessingController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public AsyncProcessingController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Retrieve the current status for a particular code.
     * @param  statusCode  Required parameter: A [UUID
     *         v4](https://datatracker.ietf.org/doc/html/rfc4122) that's unique for the Async
     *         Request
     * @return    Returns the ResponseAsyncStatus wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ResponseAsyncStatus> statusCheck(
            final UUID statusCode) throws ApiException, IOException {
        return prepareStatusCheckRequest(statusCode).execute();
    }

    /**
     * Retrieve the current status for a particular code.
     * @param  statusCode  Required parameter: A [UUID
     *         v4](https://datatracker.ietf.org/doc/html/rfc4122) that's unique for the Async
     *         Request
     * @return    Returns the ResponseAsyncStatus wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ResponseAsyncStatus>> statusCheckAsync(
            final UUID statusCode) {
        try {
            return prepareStatusCheckRequest(statusCode).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for statusCheck.
     */
    private ApiCall<ApiResponse<ResponseAsyncStatus>, ApiException> prepareStatusCheckRequest(
            final UUID statusCode) {
        return new ApiCall.Builder<ApiResponse<ResponseAsyncStatus>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/async/status/{status_code}")
                        .templateParam(param -> param.key("status_code").value(statusCode)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ResponseAsyncStatus.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401TokenException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}