/*
 * FortisAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package tech.fortis.sandbox.api.controllers;

import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import java.io.IOException;
import java.util.List;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;
import tech.fortis.sandbox.api.ApiHelper;
import tech.fortis.sandbox.api.Server;
import tech.fortis.sandbox.api.exceptions.ApiException;
import tech.fortis.sandbox.api.exceptions.Response401tokenException;
import tech.fortis.sandbox.api.exceptions.Response412Exception;
import tech.fortis.sandbox.api.http.request.HttpMethod;
import tech.fortis.sandbox.api.models.Expand5Enum;
import tech.fortis.sandbox.api.models.Field30Enum;
import tech.fortis.sandbox.api.models.FilterBy;
import tech.fortis.sandbox.api.models.Format1Enum;
import tech.fortis.sandbox.api.models.Order21;
import tech.fortis.sandbox.api.models.Page;
import tech.fortis.sandbox.api.models.ResponseDeclinedRecurringTransaction;
import tech.fortis.sandbox.api.models.ResponseDeclinedRecurringTransactionPayment;
import tech.fortis.sandbox.api.models.ResponseDeclinedRecurringTransactionResend;
import tech.fortis.sandbox.api.models.ResponseDeclinedRecurringTransactionsCollection;
import tech.fortis.sandbox.api.models.V1DeclinedRecurringTransactionPaymentsRequest;

/**
 * This class lists all the endpoints of the groups.
 */
public final class DeclinedRecurringTransactionsController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public DeclinedRecurringTransactionsController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * @param  declinedRecurringTransactionId  Required parameter: Id
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @return    Returns the ResponseDeclinedRecurringTransaction response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ResponseDeclinedRecurringTransaction getOneDeclinedRecurringTransaction(
            final String declinedRecurringTransactionId,
            final List<Expand5Enum> expand) throws ApiException, IOException {
        return prepareGetOneDeclinedRecurringTransactionRequest(declinedRecurringTransactionId,
                expand).execute();
    }

    /**
     * @param  declinedRecurringTransactionId  Required parameter: Id
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @return    Returns the ResponseDeclinedRecurringTransaction response from the API call
     */
    public CompletableFuture<ResponseDeclinedRecurringTransaction> getOneDeclinedRecurringTransactionAsync(
            final String declinedRecurringTransactionId,
            final List<Expand5Enum> expand) {
        try {
            return prepareGetOneDeclinedRecurringTransactionRequest(declinedRecurringTransactionId,
            expand).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for getOneDeclinedRecurringTransaction.
     */
    private ApiCall<ResponseDeclinedRecurringTransaction, ApiException> prepareGetOneDeclinedRecurringTransactionRequest(
            final String declinedRecurringTransactionId,
            final List<Expand5Enum> expand) {
        return new ApiCall.Builder<ResponseDeclinedRecurringTransaction, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/declined-recurring-transactions/{declined_recurring_transaction_id}")
                        .queryParam(param -> param.key("expand")
                                .value(Expand5Enum.toValue(expand)).isRequired(false))
                        .templateParam(param -> param.key("declined_recurring_transaction_id").value(declinedRecurringTransactionId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, ResponseDeclinedRecurringTransaction.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401tokenException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  page  Optional parameter: Use this field to specify paginate your results, by using
     *         page size and number. You can use one of the following methods: &gt;/endpoint?page={
     *         "number": 1, "size": 50 } &gt; &gt;/endpoint?page[number]=1&amp;page[size]=50 &gt;
     * @param  order  Optional parameter: Criteria used in query string parameters to order results.
     *         Most fields from the endpoint results can be used as a `key`. Unsupported fields or
     *         operators will return a `412`. Must be encoded, or use syntax that does not require
     *         encoding. &gt;/endpoint?order[0][key]=created_ts&amp;order[0][operator]=asc &gt;
     *         &gt;/endpoint?order=[{ "key": "created_ts", "operator": "asc"}] &gt;
     *         &gt;/endpoint?order=[{ "key": "balance", "operator": "desc"},{ "key": "created_ts",
     *         "operator": "asc"}] &gt;
     * @param  filterBy  Optional parameter: Filter criteria that can be used in query string
     *         parameters. Most fields from the endpoint results can be used as a `key`. Unsupported
     *         fields or operators will return a `412`. Must be encoded, or use syntax that does not
     *         require encoding.
     *         &gt;?filter_by[0][key]=first_name&amp;filter_by[0][operator]==&amp;filter_by[0][value]=Steve
     *         &gt; &gt;/endpoint?filter_by=[{ "key": "first_name", "operator": "=", "value": "Fred"
     *         }] &gt; &gt;/endpoint?filter_by=[{ "key": "account_type", "operator": "=", "value":
     *         "VISA" }] &gt; &gt;/endpoint?filter_by=[{ "key": "created_ts", "operator": "&gt;=",
     *         "value": "946702799" }, { "key": "created_ts", "operator": "&lt;=", value:
     *         "1695061891" }] &gt; &gt;/endpoint?filter_by=[{ "key": "last_name", "operator": "IN",
     *         "value": "Williams,Brown,Allman" }] &gt;
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @param  format  Optional parameter: Reporting format, valid values: csv, tsv
     * @param  typeahead  Optional parameter: You can use any `field_name` from this endpoint
     *         results to order the list using the value provided as filter for the same
     *         `field_name`. It will be ordered using the following rules: 1) Exact match, 2) Starts
     *         with, 3) Contains. &gt;/endpoint?filter={ "field_name": "Value"
     *         }&amp;_typeahead=field_name &gt;
     * @param  fields  Optional parameter: You can use any `field_name` from this endpoint results
     *         to filter the list of fields returned on the response.
     * @return    Returns the ResponseDeclinedRecurringTransactionsCollection response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ResponseDeclinedRecurringTransactionsCollection listAllDeclinedRecurringTransactions(
            final Page page,
            final List<Order21> order,
            final List<FilterBy> filterBy,
            final List<Expand5Enum> expand,
            final Format1Enum format,
            final String typeahead,
            final List<Field30Enum> fields) throws ApiException, IOException {
        return prepareListAllDeclinedRecurringTransactionsRequest(page, order, filterBy, expand,
                format, typeahead, fields).execute();
    }

    /**
     * @param  page  Optional parameter: Use this field to specify paginate your results, by using
     *         page size and number. You can use one of the following methods: &gt;/endpoint?page={
     *         "number": 1, "size": 50 } &gt; &gt;/endpoint?page[number]=1&amp;page[size]=50 &gt;
     * @param  order  Optional parameter: Criteria used in query string parameters to order results.
     *         Most fields from the endpoint results can be used as a `key`. Unsupported fields or
     *         operators will return a `412`. Must be encoded, or use syntax that does not require
     *         encoding. &gt;/endpoint?order[0][key]=created_ts&amp;order[0][operator]=asc &gt;
     *         &gt;/endpoint?order=[{ "key": "created_ts", "operator": "asc"}] &gt;
     *         &gt;/endpoint?order=[{ "key": "balance", "operator": "desc"},{ "key": "created_ts",
     *         "operator": "asc"}] &gt;
     * @param  filterBy  Optional parameter: Filter criteria that can be used in query string
     *         parameters. Most fields from the endpoint results can be used as a `key`. Unsupported
     *         fields or operators will return a `412`. Must be encoded, or use syntax that does not
     *         require encoding.
     *         &gt;?filter_by[0][key]=first_name&amp;filter_by[0][operator]==&amp;filter_by[0][value]=Steve
     *         &gt; &gt;/endpoint?filter_by=[{ "key": "first_name", "operator": "=", "value": "Fred"
     *         }] &gt; &gt;/endpoint?filter_by=[{ "key": "account_type", "operator": "=", "value":
     *         "VISA" }] &gt; &gt;/endpoint?filter_by=[{ "key": "created_ts", "operator": "&gt;=",
     *         "value": "946702799" }, { "key": "created_ts", "operator": "&lt;=", value:
     *         "1695061891" }] &gt; &gt;/endpoint?filter_by=[{ "key": "last_name", "operator": "IN",
     *         "value": "Williams,Brown,Allman" }] &gt;
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @param  format  Optional parameter: Reporting format, valid values: csv, tsv
     * @param  typeahead  Optional parameter: You can use any `field_name` from this endpoint
     *         results to order the list using the value provided as filter for the same
     *         `field_name`. It will be ordered using the following rules: 1) Exact match, 2) Starts
     *         with, 3) Contains. &gt;/endpoint?filter={ "field_name": "Value"
     *         }&amp;_typeahead=field_name &gt;
     * @param  fields  Optional parameter: You can use any `field_name` from this endpoint results
     *         to filter the list of fields returned on the response.
     * @return    Returns the ResponseDeclinedRecurringTransactionsCollection response from the API call
     */
    public CompletableFuture<ResponseDeclinedRecurringTransactionsCollection> listAllDeclinedRecurringTransactionsAsync(
            final Page page,
            final List<Order21> order,
            final List<FilterBy> filterBy,
            final List<Expand5Enum> expand,
            final Format1Enum format,
            final String typeahead,
            final List<Field30Enum> fields) {
        try {
            return prepareListAllDeclinedRecurringTransactionsRequest(page, order, filterBy, expand, format,
            typeahead, fields).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for listAllDeclinedRecurringTransactions.
     */
    private ApiCall<ResponseDeclinedRecurringTransactionsCollection, ApiException> prepareListAllDeclinedRecurringTransactionsRequest(
            final Page page,
            final List<Order21> order,
            final List<FilterBy> filterBy,
            final List<Expand5Enum> expand,
            final Format1Enum format,
            final String typeahead,
            final List<Field30Enum> fields) {
        return new ApiCall.Builder<ResponseDeclinedRecurringTransactionsCollection, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/declined-recurring-transactions")
                        .queryParam(param -> param.key("page")
                                .value(page).isRequired(false))
                        .queryParam(param -> param.key("order")
                                .value(order).isRequired(false))
                        .queryParam(param -> param.key("filter_by")
                                .value(filterBy).isRequired(false))
                        .queryParam(param -> param.key("expand")
                                .value(Expand5Enum.toValue(expand)).isRequired(false))
                        .queryParam(param -> param.key("_format")
                                .value((format != null) ? format.value() : null).isRequired(false))
                        .queryParam(param -> param.key("_typeahead")
                                .value(typeahead).isRequired(false))
                        .queryParam(param -> param.key("fields")
                                .value(Field30Enum.toValue(fields)).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, ResponseDeclinedRecurringTransactionsCollection.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401tokenException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  body  Required parameter:
     * @return    Returns the ResponseDeclinedRecurringTransactionPayment response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ResponseDeclinedRecurringTransactionPayment createAPayment(
            final V1DeclinedRecurringTransactionPaymentsRequest body) throws ApiException, IOException {
        return prepareCreateAPaymentRequest(body).execute();
    }

    /**
     * @param  body  Required parameter:
     * @return    Returns the ResponseDeclinedRecurringTransactionPayment response from the API call
     */
    public CompletableFuture<ResponseDeclinedRecurringTransactionPayment> createAPaymentAsync(
            final V1DeclinedRecurringTransactionPaymentsRequest body) {
        try {
            return prepareCreateAPaymentRequest(body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for createAPayment.
     */
    private ApiCall<ResponseDeclinedRecurringTransactionPayment, ApiException> prepareCreateAPaymentRequest(
            final V1DeclinedRecurringTransactionPaymentsRequest body) {
        return new ApiCall.Builder<ResponseDeclinedRecurringTransactionPayment, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/declined-recurring-transaction-payments")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, ResponseDeclinedRecurringTransactionPayment.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401tokenException(reason, context)))
                        .localErrorCase("412",
                                 ErrorCase.setReason("Precondition Failed",
                                (reason, context) -> new Response412Exception(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  declinedRecurringTransactionId  Required parameter: Id
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @return    Returns the ResponseDeclinedRecurringTransaction response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ResponseDeclinedRecurringTransaction rerunTheTransaction(
            final String declinedRecurringTransactionId,
            final List<Expand5Enum> expand) throws ApiException, IOException {
        return prepareRerunTheTransactionRequest(declinedRecurringTransactionId, expand).execute();
    }

    /**
     * @param  declinedRecurringTransactionId  Required parameter: Id
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @return    Returns the ResponseDeclinedRecurringTransaction response from the API call
     */
    public CompletableFuture<ResponseDeclinedRecurringTransaction> rerunTheTransactionAsync(
            final String declinedRecurringTransactionId,
            final List<Expand5Enum> expand) {
        try {
            return prepareRerunTheTransactionRequest(declinedRecurringTransactionId, expand).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for rerunTheTransaction.
     */
    private ApiCall<ResponseDeclinedRecurringTransaction, ApiException> prepareRerunTheTransactionRequest(
            final String declinedRecurringTransactionId,
            final List<Expand5Enum> expand) {
        return new ApiCall.Builder<ResponseDeclinedRecurringTransaction, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/declined-recurring-transactions/{declined_recurring_transaction_id}/rerun")
                        .queryParam(param -> param.key("expand")
                                .value(Expand5Enum.toValue(expand)).isRequired(false))
                        .templateParam(param -> param.key("declined_recurring_transaction_id").value(declinedRecurringTransactionId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, ResponseDeclinedRecurringTransaction.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401tokenException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  declinedRecurringTransactionId  Required parameter: Id
     * @return    Returns the ResponseDeclinedRecurringTransactionResend response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ResponseDeclinedRecurringTransactionResend resendTheTransaction(
            final String declinedRecurringTransactionId) throws ApiException, IOException {
        return prepareResendTheTransactionRequest(declinedRecurringTransactionId).execute();
    }

    /**
     * @param  declinedRecurringTransactionId  Required parameter: Id
     * @return    Returns the ResponseDeclinedRecurringTransactionResend response from the API call
     */
    public CompletableFuture<ResponseDeclinedRecurringTransactionResend> resendTheTransactionAsync(
            final String declinedRecurringTransactionId) {
        try {
            return prepareResendTheTransactionRequest(declinedRecurringTransactionId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for resendTheTransaction.
     */
    private ApiCall<ResponseDeclinedRecurringTransactionResend, ApiException> prepareResendTheTransactionRequest(
            final String declinedRecurringTransactionId) {
        return new ApiCall.Builder<ResponseDeclinedRecurringTransactionResend, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/declined-recurring-transactions/{declined_recurring_transaction_id}/resend")
                        .templateParam(param -> param.key("declined_recurring_transaction_id").value(declinedRecurringTransactionId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, ResponseDeclinedRecurringTransactionResend.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401tokenException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}