/*
 * FortisApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package tech.fortis.sandbox.api.controllers;

import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;
import tech.fortis.sandbox.api.ApiHelper;
import tech.fortis.sandbox.api.Server;
import tech.fortis.sandbox.api.exceptions.ApiException;
import tech.fortis.sandbox.api.exceptions.Response401TokenException;
import tech.fortis.sandbox.api.exceptions.Response412Exception;
import tech.fortis.sandbox.api.http.request.HttpMethod;
import tech.fortis.sandbox.api.http.response.ApiResponse;
import tech.fortis.sandbox.api.models.ResponseTicketIntention;
import tech.fortis.sandbox.api.models.ResponseTransactionIntention;
import tech.fortis.sandbox.api.models.V1ElementsTicketIntentionRequest;
import tech.fortis.sandbox.api.models.V1ElementsTransactionIntentionRequest;

/**
 * This class lists all the endpoints of the groups.
 */
public final class ElementsController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public ElementsController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Elements uses a `TicketIntention` object to represent your intent to obtain credit card
     * information from a customer with the intent to tokenize the card or charge the card. Ticket
     * Intention is great with online store checkouts.
     * @param  body  Required parameter:
     * @return    Returns the ResponseTicketIntention wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ResponseTicketIntention> ticketIntention(
            final V1ElementsTicketIntentionRequest body) throws ApiException, IOException {
        return prepareTicketIntentionRequest(body).execute();
    }

    /**
     * Elements uses a `TicketIntention` object to represent your intent to obtain credit card
     * information from a customer with the intent to tokenize the card or charge the card. Ticket
     * Intention is great with online store checkouts.
     * @param  body  Required parameter:
     * @return    Returns the ResponseTicketIntention wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ResponseTicketIntention>> ticketIntentionAsync(
            final V1ElementsTicketIntentionRequest body) {
        try {
            return prepareTicketIntentionRequest(body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for ticketIntention.
     */
    private ApiCall<ApiResponse<ResponseTicketIntention>, ApiException> prepareTicketIntentionRequest(
            final V1ElementsTicketIntentionRequest body) {
        return new ApiCall.Builder<ApiResponse<ResponseTicketIntention>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/elements/ticket/intention")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ResponseTicketIntention.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401TokenException(reason, context)))
                        .localErrorCase("412",
                                 ErrorCase.setReason("Precondition Failed",
                                (reason, context) -> new Response412Exception(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Elements uses a `TransactionIntention` object to represent your intent to collect payment
     * from a customer, tracking charge attempts and payment state changes throughout the process.
     * @param  body  Required parameter:
     * @return    Returns the ResponseTransactionIntention wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ResponseTransactionIntention> transactionIntention(
            final V1ElementsTransactionIntentionRequest body) throws ApiException, IOException {
        return prepareTransactionIntentionRequest(body).execute();
    }

    /**
     * Elements uses a `TransactionIntention` object to represent your intent to collect payment
     * from a customer, tracking charge attempts and payment state changes throughout the process.
     * @param  body  Required parameter:
     * @return    Returns the ResponseTransactionIntention wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ResponseTransactionIntention>> transactionIntentionAsync(
            final V1ElementsTransactionIntentionRequest body) {
        try {
            return prepareTransactionIntentionRequest(body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for transactionIntention.
     */
    private ApiCall<ApiResponse<ResponseTransactionIntention>, ApiException> prepareTransactionIntentionRequest(
            final V1ElementsTransactionIntentionRequest body) {
        return new ApiCall.Builder<ApiResponse<ResponseTransactionIntention>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/elements/transaction/intention")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ResponseTransactionIntention.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401TokenException(reason, context)))
                        .localErrorCase("412",
                                 ErrorCase.setReason("Precondition Failed",
                                (reason, context) -> new Response412Exception(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}