/*
 * FortisAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package tech.fortis.sandbox.api.controllers;

import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;
import tech.fortis.sandbox.api.ApiHelper;
import tech.fortis.sandbox.api.Server;
import tech.fortis.sandbox.api.exceptions.ApiException;
import tech.fortis.sandbox.api.exceptions.Response401tokenException;
import tech.fortis.sandbox.api.exceptions.Response412Exception;
import tech.fortis.sandbox.api.http.request.HttpMethod;
import tech.fortis.sandbox.api.models.ResponseTransactionLevel3;
import tech.fortis.sandbox.api.models.ResponseTransactionLevel3Master;
import tech.fortis.sandbox.api.models.ResponseTransactionLevel3Visa;
import tech.fortis.sandbox.api.models.V1TransactionsLevel3MasterCardRequest;
import tech.fortis.sandbox.api.models.V1TransactionsLevel3VisaRequest;

/**
 * This class lists all the endpoints of the groups.
 */
public final class Level3DataController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public Level3DataController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * @param  transactionId  Required parameter: Transaction ID
     * @param  body  Required parameter:
     * @return    Returns the ResponseTransactionLevel3Master response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ResponseTransactionLevel3Master createANewLevel3EntryForAMasterCard(
            final String transactionId,
            final V1TransactionsLevel3MasterCardRequest body) throws ApiException, IOException {
        return prepareCreateANewLevel3EntryForAMasterCardRequest(transactionId, body).execute();
    }

    /**
     * @param  transactionId  Required parameter: Transaction ID
     * @param  body  Required parameter:
     * @return    Returns the ResponseTransactionLevel3Master response from the API call
     */
    public CompletableFuture<ResponseTransactionLevel3Master> createANewLevel3EntryForAMasterCardAsync(
            final String transactionId,
            final V1TransactionsLevel3MasterCardRequest body) {
        try {
            return prepareCreateANewLevel3EntryForAMasterCardRequest(transactionId, body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for createANewLevel3EntryForAMasterCard.
     */
    private ApiCall<ResponseTransactionLevel3Master, ApiException> prepareCreateANewLevel3EntryForAMasterCardRequest(
            final String transactionId,
            final V1TransactionsLevel3MasterCardRequest body) {
        return new ApiCall.Builder<ResponseTransactionLevel3Master, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/transactions/{transaction_id}/level3/master-card")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .templateParam(param -> param.key("transaction_id").value(transactionId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, ResponseTransactionLevel3Master.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401tokenException(reason, context)))
                        .localErrorCase("412",
                                 ErrorCase.setReason("Precondition Failed",
                                (reason, context) -> new Response412Exception(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  transactionId  Required parameter: Transaction ID
     * @param  body  Required parameter:
     * @return    Returns the ResponseTransactionLevel3Visa response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ResponseTransactionLevel3Visa createANewLevel3EntryForAVisa(
            final String transactionId,
            final V1TransactionsLevel3VisaRequest body) throws ApiException, IOException {
        return prepareCreateANewLevel3EntryForAVisaRequest(transactionId, body).execute();
    }

    /**
     * @param  transactionId  Required parameter: Transaction ID
     * @param  body  Required parameter:
     * @return    Returns the ResponseTransactionLevel3Visa response from the API call
     */
    public CompletableFuture<ResponseTransactionLevel3Visa> createANewLevel3EntryForAVisaAsync(
            final String transactionId,
            final V1TransactionsLevel3VisaRequest body) {
        try {
            return prepareCreateANewLevel3EntryForAVisaRequest(transactionId, body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for createANewLevel3EntryForAVisa.
     */
    private ApiCall<ResponseTransactionLevel3Visa, ApiException> prepareCreateANewLevel3EntryForAVisaRequest(
            final String transactionId,
            final V1TransactionsLevel3VisaRequest body) {
        return new ApiCall.Builder<ResponseTransactionLevel3Visa, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/transactions/{transaction_id}/level3/visa")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .templateParam(param -> param.key("transaction_id").value(transactionId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, ResponseTransactionLevel3Visa.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401tokenException(reason, context)))
                        .localErrorCase("412",
                                 ErrorCase.setReason("Precondition Failed",
                                (reason, context) -> new Response412Exception(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  transactionId  Required parameter: Transaction ID
     * @param  level3Id  Required parameter: Level 3 ID
     * @return    Returns the ResponseTransactionLevel3 response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ResponseTransactionLevel3 deleteASingleLevel3Record(
            final String transactionId,
            final String level3Id) throws ApiException, IOException {
        return prepareDeleteASingleLevel3RecordRequest(transactionId, level3Id).execute();
    }

    /**
     * @param  transactionId  Required parameter: Transaction ID
     * @param  level3Id  Required parameter: Level 3 ID
     * @return    Returns the ResponseTransactionLevel3 response from the API call
     */
    public CompletableFuture<ResponseTransactionLevel3> deleteASingleLevel3RecordAsync(
            final String transactionId,
            final String level3Id) {
        try {
            return prepareDeleteASingleLevel3RecordRequest(transactionId, level3Id).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for deleteASingleLevel3Record.
     */
    private ApiCall<ResponseTransactionLevel3, ApiException> prepareDeleteASingleLevel3RecordRequest(
            final String transactionId,
            final String level3Id) {
        return new ApiCall.Builder<ResponseTransactionLevel3, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/transactions/{transaction_id}/level3/{level3_id}")
                        .templateParam(param -> param.key("transaction_id").value(transactionId)
                                .shouldEncode(true))
                        .templateParam(param -> param.key("level3_id").value(level3Id)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.DELETE))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, ResponseTransactionLevel3.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401tokenException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  transactionId  Required parameter: Transaction ID
     * @param  level3Id  Required parameter: Level 3 ID
     * @return    Returns the ResponseTransactionLevel3 response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ResponseTransactionLevel3 viewSingleLevel3Record(
            final String transactionId,
            final String level3Id) throws ApiException, IOException {
        return prepareViewSingleLevel3RecordRequest(transactionId, level3Id).execute();
    }

    /**
     * @param  transactionId  Required parameter: Transaction ID
     * @param  level3Id  Required parameter: Level 3 ID
     * @return    Returns the ResponseTransactionLevel3 response from the API call
     */
    public CompletableFuture<ResponseTransactionLevel3> viewSingleLevel3RecordAsync(
            final String transactionId,
            final String level3Id) {
        try {
            return prepareViewSingleLevel3RecordRequest(transactionId, level3Id).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for viewSingleLevel3Record.
     */
    private ApiCall<ResponseTransactionLevel3, ApiException> prepareViewSingleLevel3RecordRequest(
            final String transactionId,
            final String level3Id) {
        return new ApiCall.Builder<ResponseTransactionLevel3, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/transactions/{transaction_id}/level3/{level3_id}")
                        .templateParam(param -> param.key("transaction_id").value(transactionId)
                                .shouldEncode(true))
                        .templateParam(param -> param.key("level3_id").value(level3Id)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, ResponseTransactionLevel3.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401tokenException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}