/*
 * FortisApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package tech.fortis.sandbox.api.controllers;

import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;
import tech.fortis.sandbox.api.ApiHelper;
import tech.fortis.sandbox.api.Server;
import tech.fortis.sandbox.api.exceptions.ApiException;
import tech.fortis.sandbox.api.exceptions.Response401TokenException;
import tech.fortis.sandbox.api.exceptions.Response412Exception;
import tech.fortis.sandbox.api.http.request.HttpMethod;
import tech.fortis.sandbox.api.http.response.ApiResponse;
import tech.fortis.sandbox.api.models.ResponseTransactionLevel3;
import tech.fortis.sandbox.api.models.ResponseTransactionLevel3Master;
import tech.fortis.sandbox.api.models.ResponseTransactionLevel3Visa;
import tech.fortis.sandbox.api.models.V1TransactionsLevel3MasterCardRequest;
import tech.fortis.sandbox.api.models.V1TransactionsLevel3VisaRequest;

/**
 * This class lists all the endpoints of the groups.
 */
public final class Level3DataController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public Level3DataController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * @param  transactionId  Required parameter: Transaction ID
     * @param  body  Required parameter:
     * @return    Returns the ResponseTransactionLevel3Master wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ResponseTransactionLevel3Master> createanewLevel3EntryforaMasterCard(
            final String transactionId,
            final V1TransactionsLevel3MasterCardRequest body) throws ApiException, IOException {
        return prepareCreateanewLevel3EntryforaMasterCardRequest(transactionId, body).execute();
    }

    /**
     * @param  transactionId  Required parameter: Transaction ID
     * @param  body  Required parameter:
     * @return    Returns the ResponseTransactionLevel3Master wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ResponseTransactionLevel3Master>> createanewLevel3EntryforaMasterCardAsync(
            final String transactionId,
            final V1TransactionsLevel3MasterCardRequest body) {
        try {
            return prepareCreateanewLevel3EntryforaMasterCardRequest(transactionId, body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for createanewLevel3EntryforaMasterCard.
     */
    private ApiCall<ApiResponse<ResponseTransactionLevel3Master>, ApiException> prepareCreateanewLevel3EntryforaMasterCardRequest(
            final String transactionId,
            final V1TransactionsLevel3MasterCardRequest body) {
        return new ApiCall.Builder<ApiResponse<ResponseTransactionLevel3Master>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/transactions/{transaction_id}/level3/master-card")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .templateParam(param -> param.key("transaction_id").value(transactionId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ResponseTransactionLevel3Master.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401TokenException(reason, context)))
                        .localErrorCase("412",
                                 ErrorCase.setReason("Precondition Failed",
                                (reason, context) -> new Response412Exception(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  transactionId  Required parameter: Transaction ID
     * @param  body  Required parameter:
     * @return    Returns the ResponseTransactionLevel3Visa wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ResponseTransactionLevel3Visa> createanewLevel3EntryforaVisa(
            final String transactionId,
            final V1TransactionsLevel3VisaRequest body) throws ApiException, IOException {
        return prepareCreateanewLevel3EntryforaVisaRequest(transactionId, body).execute();
    }

    /**
     * @param  transactionId  Required parameter: Transaction ID
     * @param  body  Required parameter:
     * @return    Returns the ResponseTransactionLevel3Visa wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ResponseTransactionLevel3Visa>> createanewLevel3EntryforaVisaAsync(
            final String transactionId,
            final V1TransactionsLevel3VisaRequest body) {
        try {
            return prepareCreateanewLevel3EntryforaVisaRequest(transactionId, body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for createanewLevel3EntryforaVisa.
     */
    private ApiCall<ApiResponse<ResponseTransactionLevel3Visa>, ApiException> prepareCreateanewLevel3EntryforaVisaRequest(
            final String transactionId,
            final V1TransactionsLevel3VisaRequest body) {
        return new ApiCall.Builder<ApiResponse<ResponseTransactionLevel3Visa>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/transactions/{transaction_id}/level3/visa")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .templateParam(param -> param.key("transaction_id").value(transactionId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ResponseTransactionLevel3Visa.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401TokenException(reason, context)))
                        .localErrorCase("412",
                                 ErrorCase.setReason("Precondition Failed",
                                (reason, context) -> new Response412Exception(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  transactionId  Required parameter: Transaction ID
     * @param  level3Id  Required parameter: Level 3 ID
     * @return    Returns the ResponseTransactionLevel3 wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ResponseTransactionLevel3> deleteasinglelevel3Record(
            final String transactionId,
            final String level3Id) throws ApiException, IOException {
        return prepareDeleteasinglelevel3RecordRequest(transactionId, level3Id).execute();
    }

    /**
     * @param  transactionId  Required parameter: Transaction ID
     * @param  level3Id  Required parameter: Level 3 ID
     * @return    Returns the ResponseTransactionLevel3 wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ResponseTransactionLevel3>> deleteasinglelevel3RecordAsync(
            final String transactionId,
            final String level3Id) {
        try {
            return prepareDeleteasinglelevel3RecordRequest(transactionId, level3Id).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for deleteasinglelevel3Record.
     */
    private ApiCall<ApiResponse<ResponseTransactionLevel3>, ApiException> prepareDeleteasinglelevel3RecordRequest(
            final String transactionId,
            final String level3Id) {
        return new ApiCall.Builder<ApiResponse<ResponseTransactionLevel3>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/transactions/{transaction_id}/level3/{level3_id}")
                        .templateParam(param -> param.key("transaction_id").value(transactionId)
                                .shouldEncode(true))
                        .templateParam(param -> param.key("level3_id").value(level3Id)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.DELETE))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ResponseTransactionLevel3.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401TokenException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  transactionId  Required parameter: Transaction ID
     * @param  level3Id  Required parameter: Level 3 ID
     * @return    Returns the ResponseTransactionLevel3 wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ResponseTransactionLevel3> viewsinglelevel3Record(
            final String transactionId,
            final String level3Id) throws ApiException, IOException {
        return prepareViewsinglelevel3RecordRequest(transactionId, level3Id).execute();
    }

    /**
     * @param  transactionId  Required parameter: Transaction ID
     * @param  level3Id  Required parameter: Level 3 ID
     * @return    Returns the ResponseTransactionLevel3 wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ResponseTransactionLevel3>> viewsinglelevel3RecordAsync(
            final String transactionId,
            final String level3Id) {
        try {
            return prepareViewsinglelevel3RecordRequest(transactionId, level3Id).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for viewsinglelevel3Record.
     */
    private ApiCall<ApiResponse<ResponseTransactionLevel3>, ApiException> prepareViewsinglelevel3RecordRequest(
            final String transactionId,
            final String level3Id) {
        return new ApiCall.Builder<ApiResponse<ResponseTransactionLevel3>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/transactions/{transaction_id}/level3/{level3_id}")
                        .templateParam(param -> param.key("transaction_id").value(transactionId)
                                .shouldEncode(true))
                        .templateParam(param -> param.key("level3_id").value(level3Id)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ResponseTransactionLevel3.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401TokenException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}