/*
 * FortisAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package tech.fortis.sandbox.api.controllers;

import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import java.io.IOException;
import java.util.List;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;
import tech.fortis.sandbox.api.ApiHelper;
import tech.fortis.sandbox.api.Server;
import tech.fortis.sandbox.api.exceptions.ApiException;
import tech.fortis.sandbox.api.exceptions.Response401tokenException;
import tech.fortis.sandbox.api.http.request.HttpMethod;
import tech.fortis.sandbox.api.models.Expand10Enum;
import tech.fortis.sandbox.api.models.Expand11Enum;
import tech.fortis.sandbox.api.models.Field33Enum;
import tech.fortis.sandbox.api.models.Field34Enum;
import tech.fortis.sandbox.api.models.Field35Enum;
import tech.fortis.sandbox.api.models.Field36Enum;
import tech.fortis.sandbox.api.models.FilterBy;
import tech.fortis.sandbox.api.models.Format1Enum;
import tech.fortis.sandbox.api.models.Order21;
import tech.fortis.sandbox.api.models.Page;
import tech.fortis.sandbox.api.models.RelationshipEnum;
import tech.fortis.sandbox.api.models.ResponseLocation;
import tech.fortis.sandbox.api.models.ResponseLocationInfo;
import tech.fortis.sandbox.api.models.ResponseLocationInfosCollection;
import tech.fortis.sandbox.api.models.ResponseLocationSearchsCollection;
import tech.fortis.sandbox.api.models.ResponseLocationsCollection;

/**
 * This class lists all the endpoints of the groups.
 */
public final class LocationsController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public LocationsController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * @param  page  Optional parameter: Use this field to specify paginate your results, by using
     *         page size and number. You can use one of the following methods: &gt;/endpoint?page={
     *         "number": 1, "size": 50 } &gt; &gt;/endpoint?page[number]=1&amp;page[size]=50 &gt;
     * @param  keyword  Optional parameter: You can use any value to search on specific fields of
     *         this endpoint results. You can not specify the fields that are used.
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @param  relationship  Optional parameter: Used to filter the type of locations that will be
     *         returned
     * @return    Returns the ResponseLocationSearchsCollection response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ResponseLocationSearchsCollection locationsSearch(
            final Page page,
            final String keyword,
            final List<Expand10Enum> expand,
            final RelationshipEnum relationship) throws ApiException, IOException {
        return prepareLocationsSearchRequest(page, keyword, expand, relationship).execute();
    }

    /**
     * @param  page  Optional parameter: Use this field to specify paginate your results, by using
     *         page size and number. You can use one of the following methods: &gt;/endpoint?page={
     *         "number": 1, "size": 50 } &gt; &gt;/endpoint?page[number]=1&amp;page[size]=50 &gt;
     * @param  keyword  Optional parameter: You can use any value to search on specific fields of
     *         this endpoint results. You can not specify the fields that are used.
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @param  relationship  Optional parameter: Used to filter the type of locations that will be
     *         returned
     * @return    Returns the ResponseLocationSearchsCollection response from the API call
     */
    public CompletableFuture<ResponseLocationSearchsCollection> locationsSearchAsync(
            final Page page,
            final String keyword,
            final List<Expand10Enum> expand,
            final RelationshipEnum relationship) {
        try {
            return prepareLocationsSearchRequest(page, keyword, expand, relationship).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for locationsSearch.
     */
    private ApiCall<ResponseLocationSearchsCollection, ApiException> prepareLocationsSearchRequest(
            final Page page,
            final String keyword,
            final List<Expand10Enum> expand,
            final RelationshipEnum relationship) {
        return new ApiCall.Builder<ResponseLocationSearchsCollection, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/location-searches")
                        .queryParam(param -> param.key("page")
                                .value(page).isRequired(false))
                        .queryParam(param -> param.key("keyword")
                                .value(keyword).isRequired(false))
                        .queryParam(param -> param.key("expand")
                                .value(Expand10Enum.toValue(expand)).isRequired(false))
                        .queryParam(param -> param.key("relationship")
                                .value((relationship != null) ? relationship.value() : null).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, ResponseLocationSearchsCollection.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401tokenException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  page  Optional parameter: Use this field to specify paginate your results, by using
     *         page size and number. You can use one of the following methods: &gt;/endpoint?page={
     *         "number": 1, "size": 50 } &gt; &gt;/endpoint?page[number]=1&amp;page[size]=50 &gt;
     * @param  order  Optional parameter: Criteria used in query string parameters to order results.
     *         Most fields from the endpoint results can be used as a `key`. Unsupported fields or
     *         operators will return a `412`. Must be encoded, or use syntax that does not require
     *         encoding. &gt;/endpoint?order[0][key]=created_ts&amp;order[0][operator]=asc &gt;
     *         &gt;/endpoint?order=[{ "key": "created_ts", "operator": "asc"}] &gt;
     *         &gt;/endpoint?order=[{ "key": "balance", "operator": "desc"},{ "key": "created_ts",
     *         "operator": "asc"}] &gt;
     * @param  filterBy  Optional parameter: Filter criteria that can be used in query string
     *         parameters. Most fields from the endpoint results can be used as a `key`. Unsupported
     *         fields or operators will return a `412`. Must be encoded, or use syntax that does not
     *         require encoding.
     *         &gt;?filter_by[0][key]=first_name&amp;filter_by[0][operator]==&amp;filter_by[0][value]=Steve
     *         &gt; &gt;/endpoint?filter_by=[{ "key": "first_name", "operator": "=", "value": "Fred"
     *         }] &gt; &gt;/endpoint?filter_by=[{ "key": "account_type", "operator": "=", "value":
     *         "VISA" }] &gt; &gt;/endpoint?filter_by=[{ "key": "created_ts", "operator": "&gt;=",
     *         "value": "946702799" }, { "key": "created_ts", "operator": "&lt;=", value:
     *         "1695061891" }] &gt; &gt;/endpoint?filter_by=[{ "key": "last_name", "operator": "IN",
     *         "value": "Williams,Brown,Allman" }] &gt;
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @param  format  Optional parameter: Reporting format, valid values: csv, tsv
     * @param  typeahead  Optional parameter: You can use any `field_name` from this endpoint
     *         results to order the list using the value provided as filter for the same
     *         `field_name`. It will be ordered using the following rules: 1) Exact match, 2) Starts
     *         with, 3) Contains. &gt;/endpoint?filter={ "field_name": "Value"
     *         }&amp;_typeahead=field_name &gt;
     * @param  fields  Optional parameter: You can use any `field_name` from this endpoint results
     *         to filter the list of fields returned on the response.
     * @return    Returns the ResponseLocationsCollection response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ResponseLocationsCollection listAllLocations(
            final Page page,
            final List<Order21> order,
            final List<FilterBy> filterBy,
            final List<Expand11Enum> expand,
            final Format1Enum format,
            final String typeahead,
            final List<Field33Enum> fields) throws ApiException, IOException {
        return prepareListAllLocationsRequest(page, order, filterBy, expand, format, typeahead,
                fields).execute();
    }

    /**
     * @param  page  Optional parameter: Use this field to specify paginate your results, by using
     *         page size and number. You can use one of the following methods: &gt;/endpoint?page={
     *         "number": 1, "size": 50 } &gt; &gt;/endpoint?page[number]=1&amp;page[size]=50 &gt;
     * @param  order  Optional parameter: Criteria used in query string parameters to order results.
     *         Most fields from the endpoint results can be used as a `key`. Unsupported fields or
     *         operators will return a `412`. Must be encoded, or use syntax that does not require
     *         encoding. &gt;/endpoint?order[0][key]=created_ts&amp;order[0][operator]=asc &gt;
     *         &gt;/endpoint?order=[{ "key": "created_ts", "operator": "asc"}] &gt;
     *         &gt;/endpoint?order=[{ "key": "balance", "operator": "desc"},{ "key": "created_ts",
     *         "operator": "asc"}] &gt;
     * @param  filterBy  Optional parameter: Filter criteria that can be used in query string
     *         parameters. Most fields from the endpoint results can be used as a `key`. Unsupported
     *         fields or operators will return a `412`. Must be encoded, or use syntax that does not
     *         require encoding.
     *         &gt;?filter_by[0][key]=first_name&amp;filter_by[0][operator]==&amp;filter_by[0][value]=Steve
     *         &gt; &gt;/endpoint?filter_by=[{ "key": "first_name", "operator": "=", "value": "Fred"
     *         }] &gt; &gt;/endpoint?filter_by=[{ "key": "account_type", "operator": "=", "value":
     *         "VISA" }] &gt; &gt;/endpoint?filter_by=[{ "key": "created_ts", "operator": "&gt;=",
     *         "value": "946702799" }, { "key": "created_ts", "operator": "&lt;=", value:
     *         "1695061891" }] &gt; &gt;/endpoint?filter_by=[{ "key": "last_name", "operator": "IN",
     *         "value": "Williams,Brown,Allman" }] &gt;
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @param  format  Optional parameter: Reporting format, valid values: csv, tsv
     * @param  typeahead  Optional parameter: You can use any `field_name` from this endpoint
     *         results to order the list using the value provided as filter for the same
     *         `field_name`. It will be ordered using the following rules: 1) Exact match, 2) Starts
     *         with, 3) Contains. &gt;/endpoint?filter={ "field_name": "Value"
     *         }&amp;_typeahead=field_name &gt;
     * @param  fields  Optional parameter: You can use any `field_name` from this endpoint results
     *         to filter the list of fields returned on the response.
     * @return    Returns the ResponseLocationsCollection response from the API call
     */
    public CompletableFuture<ResponseLocationsCollection> listAllLocationsAsync(
            final Page page,
            final List<Order21> order,
            final List<FilterBy> filterBy,
            final List<Expand11Enum> expand,
            final Format1Enum format,
            final String typeahead,
            final List<Field33Enum> fields) {
        try {
            return prepareListAllLocationsRequest(page, order, filterBy, expand, format, typeahead,
            fields).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for listAllLocations.
     */
    private ApiCall<ResponseLocationsCollection, ApiException> prepareListAllLocationsRequest(
            final Page page,
            final List<Order21> order,
            final List<FilterBy> filterBy,
            final List<Expand11Enum> expand,
            final Format1Enum format,
            final String typeahead,
            final List<Field33Enum> fields) {
        return new ApiCall.Builder<ResponseLocationsCollection, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/locations")
                        .queryParam(param -> param.key("page")
                                .value(page).isRequired(false))
                        .queryParam(param -> param.key("order")
                                .value(order).isRequired(false))
                        .queryParam(param -> param.key("filter_by")
                                .value(filterBy).isRequired(false))
                        .queryParam(param -> param.key("expand")
                                .value(Expand11Enum.toValue(expand)).isRequired(false))
                        .queryParam(param -> param.key("_format")
                                .value((format != null) ? format.value() : null).isRequired(false))
                        .queryParam(param -> param.key("_typeahead")
                                .value(typeahead).isRequired(false))
                        .queryParam(param -> param.key("fields")
                                .value(Field33Enum.toValue(fields)).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, ResponseLocationsCollection.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401tokenException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  page  Optional parameter: Use this field to specify paginate your results, by using
     *         page size and number. You can use one of the following methods: &gt;/endpoint?page={
     *         "number": 1, "size": 50 } &gt; &gt;/endpoint?page[number]=1&amp;page[size]=50 &gt;
     * @param  order  Optional parameter: Criteria used in query string parameters to order results.
     *         Most fields from the endpoint results can be used as a `key`. Unsupported fields or
     *         operators will return a `412`. Must be encoded, or use syntax that does not require
     *         encoding. &gt;/endpoint?order[0][key]=created_ts&amp;order[0][operator]=asc &gt;
     *         &gt;/endpoint?order=[{ "key": "created_ts", "operator": "asc"}] &gt;
     *         &gt;/endpoint?order=[{ "key": "balance", "operator": "desc"},{ "key": "created_ts",
     *         "operator": "asc"}] &gt;
     * @param  filterBy  Optional parameter: Filter criteria that can be used in query string
     *         parameters. Most fields from the endpoint results can be used as a `key`. Unsupported
     *         fields or operators will return a `412`. Must be encoded, or use syntax that does not
     *         require encoding.
     *         &gt;?filter_by[0][key]=first_name&amp;filter_by[0][operator]==&amp;filter_by[0][value]=Steve
     *         &gt; &gt;/endpoint?filter_by=[{ "key": "first_name", "operator": "=", "value": "Fred"
     *         }] &gt; &gt;/endpoint?filter_by=[{ "key": "account_type", "operator": "=", "value":
     *         "VISA" }] &gt; &gt;/endpoint?filter_by=[{ "key": "created_ts", "operator": "&gt;=",
     *         "value": "946702799" }, { "key": "created_ts", "operator": "&lt;=", value:
     *         "1695061891" }] &gt; &gt;/endpoint?filter_by=[{ "key": "last_name", "operator": "IN",
     *         "value": "Williams,Brown,Allman" }] &gt;
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @param  format  Optional parameter: Reporting format, valid values: csv, tsv
     * @param  typeahead  Optional parameter: You can use any `field_name` from this endpoint
     *         results to order the list using the value provided as filter for the same
     *         `field_name`. It will be ordered using the following rules: 1) Exact match, 2) Starts
     *         with, 3) Contains. &gt;/endpoint?filter={ "field_name": "Value"
     *         }&amp;_typeahead=field_name &gt;
     * @param  fields  Optional parameter: You can use any `field_name` from this endpoint results
     *         to filter the list of fields returned on the response.
     * @param  productTransactionActive  Optional parameter: Product Transaction Active
     * @param  productFileActive  Optional parameter: Product File Active
     * @param  productInvoiceActive  Optional parameter: Product Invoice Active
     * @param  productRecurringActive  Optional parameter: Product Recurring Active
     * @param  productAccountvaultActive  Optional parameter: Product Accountvault Active
     * @return    Returns the ResponseLocationInfosCollection response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ResponseLocationInfosCollection locationsDetail(
            final Page page,
            final List<Order21> order,
            final List<FilterBy> filterBy,
            final List<Expand11Enum> expand,
            final Format1Enum format,
            final String typeahead,
            final List<Field34Enum> fields,
            final Object productTransactionActive,
            final Object productFileActive,
            final Object productInvoiceActive,
            final Object productRecurringActive,
            final Object productAccountvaultActive) throws ApiException, IOException {
        return prepareLocationsDetailRequest(page, order, filterBy, expand, format, typeahead,
                fields, productTransactionActive, productFileActive, productInvoiceActive,
                productRecurringActive, productAccountvaultActive).execute();
    }

    /**
     * @param  page  Optional parameter: Use this field to specify paginate your results, by using
     *         page size and number. You can use one of the following methods: &gt;/endpoint?page={
     *         "number": 1, "size": 50 } &gt; &gt;/endpoint?page[number]=1&amp;page[size]=50 &gt;
     * @param  order  Optional parameter: Criteria used in query string parameters to order results.
     *         Most fields from the endpoint results can be used as a `key`. Unsupported fields or
     *         operators will return a `412`. Must be encoded, or use syntax that does not require
     *         encoding. &gt;/endpoint?order[0][key]=created_ts&amp;order[0][operator]=asc &gt;
     *         &gt;/endpoint?order=[{ "key": "created_ts", "operator": "asc"}] &gt;
     *         &gt;/endpoint?order=[{ "key": "balance", "operator": "desc"},{ "key": "created_ts",
     *         "operator": "asc"}] &gt;
     * @param  filterBy  Optional parameter: Filter criteria that can be used in query string
     *         parameters. Most fields from the endpoint results can be used as a `key`. Unsupported
     *         fields or operators will return a `412`. Must be encoded, or use syntax that does not
     *         require encoding.
     *         &gt;?filter_by[0][key]=first_name&amp;filter_by[0][operator]==&amp;filter_by[0][value]=Steve
     *         &gt; &gt;/endpoint?filter_by=[{ "key": "first_name", "operator": "=", "value": "Fred"
     *         }] &gt; &gt;/endpoint?filter_by=[{ "key": "account_type", "operator": "=", "value":
     *         "VISA" }] &gt; &gt;/endpoint?filter_by=[{ "key": "created_ts", "operator": "&gt;=",
     *         "value": "946702799" }, { "key": "created_ts", "operator": "&lt;=", value:
     *         "1695061891" }] &gt; &gt;/endpoint?filter_by=[{ "key": "last_name", "operator": "IN",
     *         "value": "Williams,Brown,Allman" }] &gt;
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @param  format  Optional parameter: Reporting format, valid values: csv, tsv
     * @param  typeahead  Optional parameter: You can use any `field_name` from this endpoint
     *         results to order the list using the value provided as filter for the same
     *         `field_name`. It will be ordered using the following rules: 1) Exact match, 2) Starts
     *         with, 3) Contains. &gt;/endpoint?filter={ "field_name": "Value"
     *         }&amp;_typeahead=field_name &gt;
     * @param  fields  Optional parameter: You can use any `field_name` from this endpoint results
     *         to filter the list of fields returned on the response.
     * @param  productTransactionActive  Optional parameter: Product Transaction Active
     * @param  productFileActive  Optional parameter: Product File Active
     * @param  productInvoiceActive  Optional parameter: Product Invoice Active
     * @param  productRecurringActive  Optional parameter: Product Recurring Active
     * @param  productAccountvaultActive  Optional parameter: Product Accountvault Active
     * @return    Returns the ResponseLocationInfosCollection response from the API call
     */
    public CompletableFuture<ResponseLocationInfosCollection> locationsDetailAsync(
            final Page page,
            final List<Order21> order,
            final List<FilterBy> filterBy,
            final List<Expand11Enum> expand,
            final Format1Enum format,
            final String typeahead,
            final List<Field34Enum> fields,
            final Object productTransactionActive,
            final Object productFileActive,
            final Object productInvoiceActive,
            final Object productRecurringActive,
            final Object productAccountvaultActive) {
        try {
            return prepareLocationsDetailRequest(page, order, filterBy, expand, format, typeahead, fields,
            productTransactionActive, productFileActive, productInvoiceActive,
            productRecurringActive, productAccountvaultActive).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for locationsDetail.
     */
    private ApiCall<ResponseLocationInfosCollection, ApiException> prepareLocationsDetailRequest(
            final Page page,
            final List<Order21> order,
            final List<FilterBy> filterBy,
            final List<Expand11Enum> expand,
            final Format1Enum format,
            final String typeahead,
            final List<Field34Enum> fields,
            final Object productTransactionActive,
            final Object productFileActive,
            final Object productInvoiceActive,
            final Object productRecurringActive,
            final Object productAccountvaultActive) {
        return new ApiCall.Builder<ResponseLocationInfosCollection, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/locations/info")
                        .queryParam(param -> param.key("page")
                                .value(page).isRequired(false))
                        .queryParam(param -> param.key("order")
                                .value(order).isRequired(false))
                        .queryParam(param -> param.key("filter_by")
                                .value(filterBy).isRequired(false))
                        .queryParam(param -> param.key("expand")
                                .value(Expand11Enum.toValue(expand)).isRequired(false))
                        .queryParam(param -> param.key("_format")
                                .value((format != null) ? format.value() : null).isRequired(false))
                        .queryParam(param -> param.key("_typeahead")
                                .value(typeahead).isRequired(false))
                        .queryParam(param -> param.key("fields")
                                .value(Field34Enum.toValue(fields)).isRequired(false))
                        .queryParam(param -> param.key("product_transaction_active")
                                .value(productTransactionActive).isRequired(false))
                        .queryParam(param -> param.key("product_file_active")
                                .value(productFileActive).isRequired(false))
                        .queryParam(param -> param.key("product_invoice_active")
                                .value(productInvoiceActive).isRequired(false))
                        .queryParam(param -> param.key("product_recurring_active")
                                .value(productRecurringActive).isRequired(false))
                        .queryParam(param -> param.key("product_accountvault_active")
                                .value(productAccountvaultActive).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, ResponseLocationInfosCollection.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401tokenException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  locationId  Required parameter: Location ID
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @param  fields  Optional parameter: You can use any `field_name` from this endpoint results
     *         to filter the list of fields returned on the response.
     * @return    Returns the ResponseLocation response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ResponseLocation viewSingleLocationRecord(
            final String locationId,
            final List<Expand11Enum> expand,
            final List<Field35Enum> fields) throws ApiException, IOException {
        return prepareViewSingleLocationRecordRequest(locationId, expand, fields).execute();
    }

    /**
     * @param  locationId  Required parameter: Location ID
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @param  fields  Optional parameter: You can use any `field_name` from this endpoint results
     *         to filter the list of fields returned on the response.
     * @return    Returns the ResponseLocation response from the API call
     */
    public CompletableFuture<ResponseLocation> viewSingleLocationRecordAsync(
            final String locationId,
            final List<Expand11Enum> expand,
            final List<Field35Enum> fields) {
        try {
            return prepareViewSingleLocationRecordRequest(locationId, expand, fields).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for viewSingleLocationRecord.
     */
    private ApiCall<ResponseLocation, ApiException> prepareViewSingleLocationRecordRequest(
            final String locationId,
            final List<Expand11Enum> expand,
            final List<Field35Enum> fields) {
        return new ApiCall.Builder<ResponseLocation, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/locations/{location_id}")
                        .queryParam(param -> param.key("expand")
                                .value(Expand11Enum.toValue(expand)).isRequired(false))
                        .queryParam(param -> param.key("fields")
                                .value(Field35Enum.toValue(fields)).isRequired(false))
                        .templateParam(param -> param.key("location_id").value(locationId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, ResponseLocation.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401tokenException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  locationId  Required parameter: Location ID
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @param  fields  Optional parameter: You can use any `field_name` from this endpoint results
     *         to filter the list of fields returned on the response.
     * @param  productTransactionActive  Optional parameter: Product Transaction Active
     * @param  productFileActive  Optional parameter: Product File Active
     * @param  productInvoiceActive  Optional parameter: Product Invoice Active
     * @param  productRecurringActive  Optional parameter: Product Recurring Active
     * @param  productAccountvaultActive  Optional parameter: Product Accountvault Active
     * @return    Returns the ResponseLocationInfo response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ResponseLocationInfo locationDetail(
            final String locationId,
            final List<Expand11Enum> expand,
            final List<Field36Enum> fields,
            final Object productTransactionActive,
            final Object productFileActive,
            final Object productInvoiceActive,
            final Object productRecurringActive,
            final Object productAccountvaultActive) throws ApiException, IOException {
        return prepareLocationDetailRequest(locationId, expand, fields, productTransactionActive,
                productFileActive, productInvoiceActive, productRecurringActive,
                productAccountvaultActive).execute();
    }

    /**
     * @param  locationId  Required parameter: Location ID
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @param  fields  Optional parameter: You can use any `field_name` from this endpoint results
     *         to filter the list of fields returned on the response.
     * @param  productTransactionActive  Optional parameter: Product Transaction Active
     * @param  productFileActive  Optional parameter: Product File Active
     * @param  productInvoiceActive  Optional parameter: Product Invoice Active
     * @param  productRecurringActive  Optional parameter: Product Recurring Active
     * @param  productAccountvaultActive  Optional parameter: Product Accountvault Active
     * @return    Returns the ResponseLocationInfo response from the API call
     */
    public CompletableFuture<ResponseLocationInfo> locationDetailAsync(
            final String locationId,
            final List<Expand11Enum> expand,
            final List<Field36Enum> fields,
            final Object productTransactionActive,
            final Object productFileActive,
            final Object productInvoiceActive,
            final Object productRecurringActive,
            final Object productAccountvaultActive) {
        try {
            return prepareLocationDetailRequest(locationId, expand, fields, productTransactionActive,
            productFileActive, productInvoiceActive, productRecurringActive,
            productAccountvaultActive).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for locationDetail.
     */
    private ApiCall<ResponseLocationInfo, ApiException> prepareLocationDetailRequest(
            final String locationId,
            final List<Expand11Enum> expand,
            final List<Field36Enum> fields,
            final Object productTransactionActive,
            final Object productFileActive,
            final Object productInvoiceActive,
            final Object productRecurringActive,
            final Object productAccountvaultActive) {
        return new ApiCall.Builder<ResponseLocationInfo, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/locations/{location_id}/info")
                        .queryParam(param -> param.key("expand")
                                .value(Expand11Enum.toValue(expand)).isRequired(false))
                        .queryParam(param -> param.key("fields")
                                .value(Field36Enum.toValue(fields)).isRequired(false))
                        .queryParam(param -> param.key("product_transaction_active")
                                .value(productTransactionActive).isRequired(false))
                        .queryParam(param -> param.key("product_file_active")
                                .value(productFileActive).isRequired(false))
                        .queryParam(param -> param.key("product_invoice_active")
                                .value(productInvoiceActive).isRequired(false))
                        .queryParam(param -> param.key("product_recurring_active")
                                .value(productRecurringActive).isRequired(false))
                        .queryParam(param -> param.key("product_accountvault_active")
                                .value(productAccountvaultActive).isRequired(false))
                        .templateParam(param -> param.key("location_id").value(locationId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, ResponseLocationInfo.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401tokenException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}