/*
 * FortisApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package tech.fortis.sandbox.api.controllers;

import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;
import tech.fortis.sandbox.api.ApiHelper;
import tech.fortis.sandbox.api.Server;
import tech.fortis.sandbox.api.exceptions.ApiException;
import tech.fortis.sandbox.api.exceptions.Response401TokenException;
import tech.fortis.sandbox.api.http.request.HttpMethod;
import tech.fortis.sandbox.api.http.response.ApiResponse;
import tech.fortis.sandbox.api.models.ResponseThreeDsTransaction;

/**
 * This class lists all the endpoints of the groups.
 */
public final class M3DsTransactionsController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public M3DsTransactionsController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * For getting results of successful 3DS authentication attempts.
     * @param  threeDsServerTransId  Required parameter: Universally unique transaction identifier
     *         assigned by the 3DS Server to identify a single transaction.
     * @param  productTransactionId  Required parameter: Product Transaction ID associated with this
     *         3DS request
     * @return    Returns the ResponseThreeDsTransaction wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ResponseThreeDsTransaction> m3DsTransactionsRequest(
            final String threeDsServerTransId,
            final String productTransactionId) throws ApiException, IOException {
        return prepareM3DsTransactionsRequestRequest(threeDsServerTransId,
                productTransactionId).execute();
    }

    /**
     * For getting results of successful 3DS authentication attempts.
     * @param  threeDsServerTransId  Required parameter: Universally unique transaction identifier
     *         assigned by the 3DS Server to identify a single transaction.
     * @param  productTransactionId  Required parameter: Product Transaction ID associated with this
     *         3DS request
     * @return    Returns the ResponseThreeDsTransaction wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ResponseThreeDsTransaction>> m3DsTransactionsRequestAsync(
            final String threeDsServerTransId,
            final String productTransactionId) {
        try {
            return prepareM3DsTransactionsRequestRequest(threeDsServerTransId,
            productTransactionId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for m3DsTransactionsRequest.
     */
    private ApiCall<ApiResponse<ResponseThreeDsTransaction>, ApiException> prepareM3DsTransactionsRequestRequest(
            final String threeDsServerTransId,
            final String productTransactionId) {
        return new ApiCall.Builder<ApiResponse<ResponseThreeDsTransaction>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/merchant/threedsecure/transactions/{three_ds_server_trans_id}")
                        .queryParam(param -> param.key("product_transaction_id")
                                .value(productTransactionId))
                        .templateParam(param -> param.key("three_ds_server_trans_id").value(threeDsServerTransId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ResponseThreeDsTransaction.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401TokenException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}