/*
 * FortisApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package tech.fortis.sandbox.api.controllers;

import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;
import tech.fortis.sandbox.api.ApiHelper;
import tech.fortis.sandbox.api.Server;
import tech.fortis.sandbox.api.exceptions.ApiException;
import tech.fortis.sandbox.api.exceptions.Response401TokenException;
import tech.fortis.sandbox.api.exceptions.Response412Exception;
import tech.fortis.sandbox.api.exceptions.V1MerchantThreedsecureAuthentication400ErrorException;
import tech.fortis.sandbox.api.http.request.HttpMethod;
import tech.fortis.sandbox.api.http.response.ApiResponse;
import tech.fortis.sandbox.api.models.ResponseThreeDsAuthentication;
import tech.fortis.sandbox.api.models.V1MerchantThreedsecureAuthenticationRequest;

/**
 * This class lists all the endpoints of the groups.
 */
public final class M3DsAuthenticationController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public M3DsAuthenticationController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Makes a 3DS Authentication request to authenticate a card or begin the challenge flow. If a
     * challenge is required, a POST should be made to acs_url using the value of
     * base64_encoded_challenge_request for the value of "creq" using x-www-form-urlencoded for the
     * challenge request to the ACS.
     * @param  body  Required parameter:
     * @return    Returns the ResponseThreeDsAuthentication wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ResponseThreeDsAuthentication> m3DsAuthenticationRequest(
            final V1MerchantThreedsecureAuthenticationRequest body) throws ApiException, IOException {
        return prepareM3DsAuthenticationRequestRequest(body).execute();
    }

    /**
     * Makes a 3DS Authentication request to authenticate a card or begin the challenge flow. If a
     * challenge is required, a POST should be made to acs_url using the value of
     * base64_encoded_challenge_request for the value of "creq" using x-www-form-urlencoded for the
     * challenge request to the ACS.
     * @param  body  Required parameter:
     * @return    Returns the ResponseThreeDsAuthentication wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ResponseThreeDsAuthentication>> m3DsAuthenticationRequestAsync(
            final V1MerchantThreedsecureAuthenticationRequest body) {
        try {
            return prepareM3DsAuthenticationRequestRequest(body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for m3DsAuthenticationRequest.
     */
    private ApiCall<ApiResponse<ResponseThreeDsAuthentication>, ApiException> prepareM3DsAuthenticationRequestRequest(
            final V1MerchantThreedsecureAuthenticationRequest body) {
        return new ApiCall.Builder<ApiResponse<ResponseThreeDsAuthentication>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/merchant/threedsecure/authentication")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ResponseThreeDsAuthentication.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad Request",
                                (reason, context) -> new V1MerchantThreedsecureAuthentication400ErrorException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401TokenException(reason, context)))
                        .localErrorCase("412",
                                 ErrorCase.setReason("Precondition Failed",
                                (reason, context) -> new Response412Exception(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}