/*
 * FortisAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package tech.fortis.sandbox.api.controllers;

import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;
import tech.fortis.sandbox.api.ApiHelper;
import tech.fortis.sandbox.api.Server;
import tech.fortis.sandbox.api.exceptions.ApiException;
import tech.fortis.sandbox.api.exceptions.Response401tokenException;
import tech.fortis.sandbox.api.exceptions.Response412Exception;
import tech.fortis.sandbox.api.http.request.HttpMethod;
import tech.fortis.sandbox.api.models.ResponseMerchantDetails;
import tech.fortis.sandbox.api.models.V1WalletProviderMerchantDetailsRequest;

/**
 * This class lists all the endpoints of the groups.
 */
public final class MerchantDetailsController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public MerchantDetailsController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Merchant Details.
     * @param  body  Required parameter:
     * @return    Returns the ResponseMerchantDetails response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ResponseMerchantDetails merchantDetails(
            final V1WalletProviderMerchantDetailsRequest body) throws ApiException, IOException {
        return prepareMerchantDetailsRequest(body).execute();
    }

    /**
     * Merchant Details.
     * @param  body  Required parameter:
     * @return    Returns the ResponseMerchantDetails response from the API call
     */
    public CompletableFuture<ResponseMerchantDetails> merchantDetailsAsync(
            final V1WalletProviderMerchantDetailsRequest body) {
        try {
            return prepareMerchantDetailsRequest(body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for merchantDetails.
     */
    private ApiCall<ResponseMerchantDetails, ApiException> prepareMerchantDetailsRequest(
            final V1WalletProviderMerchantDetailsRequest body) {
        return new ApiCall.Builder<ResponseMerchantDetails, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/wallet-provider/merchant-details")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, ResponseMerchantDetails.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401tokenException(reason, context)))
                        .localErrorCase("412",
                                 ErrorCase.setReason("Precondition Failed",
                                (reason, context) -> new Response412Exception(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}