/*
 * FortisApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package tech.fortis.sandbox.api.controllers;

import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;
import tech.fortis.sandbox.api.ApiHelper;
import tech.fortis.sandbox.api.Server;
import tech.fortis.sandbox.api.exceptions.ApiException;
import tech.fortis.sandbox.api.exceptions.Response401TokenException;
import tech.fortis.sandbox.api.exceptions.Response412Exception;
import tech.fortis.sandbox.api.http.request.HttpMethod;
import tech.fortis.sandbox.api.http.response.ApiResponse;
import tech.fortis.sandbox.api.models.ResponseOnboarding;
import tech.fortis.sandbox.api.models.V1OnboardingRequest;

/**
 * This class lists all the endpoints of the groups.
 */
public final class OnBoardingController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public OnBoardingController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * This method can be used to pre-populate data on the Merchant Processing Application (MPA), a
     * form that prospective merchants must complete and sign prior to approval. Using this method
     * will reduce the effort required by the merchant at boarding time, in scenarios where data
     * about the prospective merchant has already been collected. This method will return an
     * Application ID, which can be sent to a prospective merchant to obtain and complete the
     * pre-filled application. Properties that are marked "Required" indicate the minimum required
     * data for creating and saving an MPA. When using this method, you must provide data for each
     * "Required" property, or you will not receive an Application ID. Properties that are marked
     * "Required for completion" are those which need to be provided to Fortis before the Merchant
     * Processing Application can be approved. These properties may be omitted or left blank when
     * using this method, however, the merchant will be required to provide this data before the
     * application can be submitted. Properties that are marked "Conditionally Required" may be
     * required for completion of the Merchant Processing Application, depending on the values
     * provided for other fields. See the description for each of these properties for more
     * information about their requirement criteria.
     * @param  body  Required parameter:
     * @return    Returns the ResponseOnboarding wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ResponseOnboarding> merchantBoarding(
            final V1OnboardingRequest body) throws ApiException, IOException {
        return prepareMerchantBoardingRequest(body).execute();
    }

    /**
     * This method can be used to pre-populate data on the Merchant Processing Application (MPA), a
     * form that prospective merchants must complete and sign prior to approval. Using this method
     * will reduce the effort required by the merchant at boarding time, in scenarios where data
     * about the prospective merchant has already been collected. This method will return an
     * Application ID, which can be sent to a prospective merchant to obtain and complete the
     * pre-filled application. Properties that are marked "Required" indicate the minimum required
     * data for creating and saving an MPA. When using this method, you must provide data for each
     * "Required" property, or you will not receive an Application ID. Properties that are marked
     * "Required for completion" are those which need to be provided to Fortis before the Merchant
     * Processing Application can be approved. These properties may be omitted or left blank when
     * using this method, however, the merchant will be required to provide this data before the
     * application can be submitted. Properties that are marked "Conditionally Required" may be
     * required for completion of the Merchant Processing Application, depending on the values
     * provided for other fields. See the description for each of these properties for more
     * information about their requirement criteria.
     * @param  body  Required parameter:
     * @return    Returns the ResponseOnboarding wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ResponseOnboarding>> merchantBoardingAsync(
            final V1OnboardingRequest body) {
        try {
            return prepareMerchantBoardingRequest(body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for merchantBoarding.
     */
    private ApiCall<ApiResponse<ResponseOnboarding>, ApiException> prepareMerchantBoardingRequest(
            final V1OnboardingRequest body) {
        return new ApiCall.Builder<ApiResponse<ResponseOnboarding>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/onboarding")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ResponseOnboarding.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401TokenException(reason, context)))
                        .localErrorCase("412",
                                 ErrorCase.setReason("Precondition Failed",
                                (reason, context) -> new Response412Exception(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}