/*
 * FortisAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package tech.fortis.sandbox.api.controllers;

import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import java.io.IOException;
import java.util.List;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;
import tech.fortis.sandbox.api.ApiHelper;
import tech.fortis.sandbox.api.Server;
import tech.fortis.sandbox.api.exceptions.ApiException;
import tech.fortis.sandbox.api.exceptions.Response401tokenException;
import tech.fortis.sandbox.api.exceptions.Response412Exception;
import tech.fortis.sandbox.api.http.request.HttpMethod;
import tech.fortis.sandbox.api.models.EmailEnum;
import tech.fortis.sandbox.api.models.Expand17Enum;
import tech.fortis.sandbox.api.models.Expand18Enum;
import tech.fortis.sandbox.api.models.Field39Enum;
import tech.fortis.sandbox.api.models.FilterBy;
import tech.fortis.sandbox.api.models.Format1Enum;
import tech.fortis.sandbox.api.models.Order21;
import tech.fortis.sandbox.api.models.Page;
import tech.fortis.sandbox.api.models.ResponsePaylink;
import tech.fortis.sandbox.api.models.ResponsePaylinksCollection;
import tech.fortis.sandbox.api.models.SmsEnum;
import tech.fortis.sandbox.api.models.V1PaylinksRequest;
import tech.fortis.sandbox.api.models.V1PaylinksRequest1;

/**
 * This class lists all the endpoints of the groups.
 */
public final class PaylinksController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public PaylinksController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Generate a new Paylink to be sent via email, sms or grab the payment_url to embed in you own
     * messaging system.
     * @param  body  Required parameter:
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @return    Returns the ResponsePaylink response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ResponsePaylink createANewPaylink(
            final V1PaylinksRequest body,
            final List<Expand17Enum> expand) throws ApiException, IOException {
        return prepareCreateANewPaylinkRequest(body, expand).execute();
    }

    /**
     * Generate a new Paylink to be sent via email, sms or grab the payment_url to embed in you own
     * messaging system.
     * @param  body  Required parameter:
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @return    Returns the ResponsePaylink response from the API call
     */
    public CompletableFuture<ResponsePaylink> createANewPaylinkAsync(
            final V1PaylinksRequest body,
            final List<Expand17Enum> expand) {
        try {
            return prepareCreateANewPaylinkRequest(body, expand).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for createANewPaylink.
     */
    private ApiCall<ResponsePaylink, ApiException> prepareCreateANewPaylinkRequest(
            final V1PaylinksRequest body,
            final List<Expand17Enum> expand) {
        return new ApiCall.Builder<ResponsePaylink, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/paylinks")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .queryParam(param -> param.key("expand")
                                .value(Expand17Enum.toValue(expand)).isRequired(false))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, ResponsePaylink.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401tokenException(reason, context)))
                        .localErrorCase("412",
                                 ErrorCase.setReason("Precondition Failed",
                                (reason, context) -> new Response412Exception(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Pull in all Paylinks associated with the location_id.
     * @param  page  Optional parameter: Use this field to specify paginate your results, by using
     *         page size and number. You can use one of the following methods: &gt;/endpoint?page={
     *         "number": 1, "size": 50 } &gt; &gt;/endpoint?page[number]=1&amp;page[size]=50 &gt;
     * @param  order  Optional parameter: Criteria used in query string parameters to order results.
     *         Most fields from the endpoint results can be used as a `key`. Unsupported fields or
     *         operators will return a `412`. Must be encoded, or use syntax that does not require
     *         encoding. &gt;/endpoint?order[0][key]=created_ts&amp;order[0][operator]=asc &gt;
     *         &gt;/endpoint?order=[{ "key": "created_ts", "operator": "asc"}] &gt;
     *         &gt;/endpoint?order=[{ "key": "balance", "operator": "desc"},{ "key": "created_ts",
     *         "operator": "asc"}] &gt;
     * @param  filterBy  Optional parameter: Filter criteria that can be used in query string
     *         parameters. Most fields from the endpoint results can be used as a `key`. Unsupported
     *         fields or operators will return a `412`. Must be encoded, or use syntax that does not
     *         require encoding.
     *         &gt;?filter_by[0][key]=first_name&amp;filter_by[0][operator]==&amp;filter_by[0][value]=Steve
     *         &gt; &gt;/endpoint?filter_by=[{ "key": "first_name", "operator": "=", "value": "Fred"
     *         }] &gt; &gt;/endpoint?filter_by=[{ "key": "account_type", "operator": "=", "value":
     *         "VISA" }] &gt; &gt;/endpoint?filter_by=[{ "key": "created_ts", "operator": "&gt;=",
     *         "value": "946702799" }, { "key": "created_ts", "operator": "&lt;=", value:
     *         "1695061891" }] &gt; &gt;/endpoint?filter_by=[{ "key": "last_name", "operator": "IN",
     *         "value": "Williams,Brown,Allman" }] &gt;
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @param  format  Optional parameter: Reporting format, valid values: csv, tsv
     * @param  typeahead  Optional parameter: You can use any `field_name` from this endpoint
     *         results to order the list using the value provided as filter for the same
     *         `field_name`. It will be ordered using the following rules: 1) Exact match, 2) Starts
     *         with, 3) Contains. &gt;/endpoint?filter={ "field_name": "Value"
     *         }&amp;_typeahead=field_name &gt;
     * @param  fields  Optional parameter: You can use any `field_name` from this endpoint results
     *         to filter the list of fields returned on the response.
     * @return    Returns the ResponsePaylinksCollection response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ResponsePaylinksCollection listAllPaylinks(
            final Page page,
            final List<Order21> order,
            final List<FilterBy> filterBy,
            final List<Expand18Enum> expand,
            final Format1Enum format,
            final String typeahead,
            final List<Field39Enum> fields) throws ApiException, IOException {
        return prepareListAllPaylinksRequest(page, order, filterBy, expand, format, typeahead,
                fields).execute();
    }

    /**
     * Pull in all Paylinks associated with the location_id.
     * @param  page  Optional parameter: Use this field to specify paginate your results, by using
     *         page size and number. You can use one of the following methods: &gt;/endpoint?page={
     *         "number": 1, "size": 50 } &gt; &gt;/endpoint?page[number]=1&amp;page[size]=50 &gt;
     * @param  order  Optional parameter: Criteria used in query string parameters to order results.
     *         Most fields from the endpoint results can be used as a `key`. Unsupported fields or
     *         operators will return a `412`. Must be encoded, or use syntax that does not require
     *         encoding. &gt;/endpoint?order[0][key]=created_ts&amp;order[0][operator]=asc &gt;
     *         &gt;/endpoint?order=[{ "key": "created_ts", "operator": "asc"}] &gt;
     *         &gt;/endpoint?order=[{ "key": "balance", "operator": "desc"},{ "key": "created_ts",
     *         "operator": "asc"}] &gt;
     * @param  filterBy  Optional parameter: Filter criteria that can be used in query string
     *         parameters. Most fields from the endpoint results can be used as a `key`. Unsupported
     *         fields or operators will return a `412`. Must be encoded, or use syntax that does not
     *         require encoding.
     *         &gt;?filter_by[0][key]=first_name&amp;filter_by[0][operator]==&amp;filter_by[0][value]=Steve
     *         &gt; &gt;/endpoint?filter_by=[{ "key": "first_name", "operator": "=", "value": "Fred"
     *         }] &gt; &gt;/endpoint?filter_by=[{ "key": "account_type", "operator": "=", "value":
     *         "VISA" }] &gt; &gt;/endpoint?filter_by=[{ "key": "created_ts", "operator": "&gt;=",
     *         "value": "946702799" }, { "key": "created_ts", "operator": "&lt;=", value:
     *         "1695061891" }] &gt; &gt;/endpoint?filter_by=[{ "key": "last_name", "operator": "IN",
     *         "value": "Williams,Brown,Allman" }] &gt;
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @param  format  Optional parameter: Reporting format, valid values: csv, tsv
     * @param  typeahead  Optional parameter: You can use any `field_name` from this endpoint
     *         results to order the list using the value provided as filter for the same
     *         `field_name`. It will be ordered using the following rules: 1) Exact match, 2) Starts
     *         with, 3) Contains. &gt;/endpoint?filter={ "field_name": "Value"
     *         }&amp;_typeahead=field_name &gt;
     * @param  fields  Optional parameter: You can use any `field_name` from this endpoint results
     *         to filter the list of fields returned on the response.
     * @return    Returns the ResponsePaylinksCollection response from the API call
     */
    public CompletableFuture<ResponsePaylinksCollection> listAllPaylinksAsync(
            final Page page,
            final List<Order21> order,
            final List<FilterBy> filterBy,
            final List<Expand18Enum> expand,
            final Format1Enum format,
            final String typeahead,
            final List<Field39Enum> fields) {
        try {
            return prepareListAllPaylinksRequest(page, order, filterBy, expand, format, typeahead,
            fields).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for listAllPaylinks.
     */
    private ApiCall<ResponsePaylinksCollection, ApiException> prepareListAllPaylinksRequest(
            final Page page,
            final List<Order21> order,
            final List<FilterBy> filterBy,
            final List<Expand18Enum> expand,
            final Format1Enum format,
            final String typeahead,
            final List<Field39Enum> fields) {
        return new ApiCall.Builder<ResponsePaylinksCollection, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/paylinks")
                        .queryParam(param -> param.key("page")
                                .value(page).isRequired(false))
                        .queryParam(param -> param.key("order")
                                .value(order).isRequired(false))
                        .queryParam(param -> param.key("filter_by")
                                .value(filterBy).isRequired(false))
                        .queryParam(param -> param.key("expand")
                                .value(Expand18Enum.toValue(expand)).isRequired(false))
                        .queryParam(param -> param.key("_format")
                                .value((format != null) ? format.value() : null).isRequired(false))
                        .queryParam(param -> param.key("_typeahead")
                                .value(typeahead).isRequired(false))
                        .queryParam(param -> param.key("fields")
                                .value(Field39Enum.toValue(fields)).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, ResponsePaylinksCollection.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401tokenException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Delete an existing Paylink_id.
     * @param  paylinkId  Required parameter: System generatedPaylink Id
     * @return    Returns the ResponsePaylink response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ResponsePaylink deletePaylink(
            final String paylinkId) throws ApiException, IOException {
        return prepareDeletePaylinkRequest(paylinkId).execute();
    }

    /**
     * Delete an existing Paylink_id.
     * @param  paylinkId  Required parameter: System generatedPaylink Id
     * @return    Returns the ResponsePaylink response from the API call
     */
    public CompletableFuture<ResponsePaylink> deletePaylinkAsync(
            final String paylinkId) {
        try {
            return prepareDeletePaylinkRequest(paylinkId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for deletePaylink.
     */
    private ApiCall<ResponsePaylink, ApiException> prepareDeletePaylinkRequest(
            final String paylinkId) {
        return new ApiCall.Builder<ResponsePaylink, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/paylinks/{paylink_id}")
                        .templateParam(param -> param.key("paylink_id").value(paylinkId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.DELETE))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, ResponsePaylink.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401tokenException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Use the Paylink_id obtained from the Create request to look up the status.
     * @param  paylinkId  Required parameter: System generatedPaylink Id
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @param  fields  Optional parameter: You can use any `field_name` from this endpoint results
     *         to filter the list of fields returned on the response.
     * @return    Returns the ResponsePaylink response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ResponsePaylink viewSinglePaylink(
            final String paylinkId,
            final List<Expand18Enum> expand,
            final List<Field39Enum> fields) throws ApiException, IOException {
        return prepareViewSinglePaylinkRequest(paylinkId, expand, fields).execute();
    }

    /**
     * Use the Paylink_id obtained from the Create request to look up the status.
     * @param  paylinkId  Required parameter: System generatedPaylink Id
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @param  fields  Optional parameter: You can use any `field_name` from this endpoint results
     *         to filter the list of fields returned on the response.
     * @return    Returns the ResponsePaylink response from the API call
     */
    public CompletableFuture<ResponsePaylink> viewSinglePaylinkAsync(
            final String paylinkId,
            final List<Expand18Enum> expand,
            final List<Field39Enum> fields) {
        try {
            return prepareViewSinglePaylinkRequest(paylinkId, expand, fields).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for viewSinglePaylink.
     */
    private ApiCall<ResponsePaylink, ApiException> prepareViewSinglePaylinkRequest(
            final String paylinkId,
            final List<Expand18Enum> expand,
            final List<Field39Enum> fields) {
        return new ApiCall.Builder<ResponsePaylink, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/paylinks/{paylink_id}")
                        .queryParam(param -> param.key("expand")
                                .value(Expand18Enum.toValue(expand)).isRequired(false))
                        .queryParam(param -> param.key("fields")
                                .value(Field39Enum.toValue(fields)).isRequired(false))
                        .templateParam(param -> param.key("paylink_id").value(paylinkId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, ResponsePaylink.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401tokenException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Update an existing Paylink_id.
     * @param  paylinkId  Required parameter: System generatedPaylink Id
     * @param  body  Required parameter:
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @return    Returns the ResponsePaylink response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ResponsePaylink updatePaylink(
            final String paylinkId,
            final V1PaylinksRequest1 body,
            final List<Expand17Enum> expand) throws ApiException, IOException {
        return prepareUpdatePaylinkRequest(paylinkId, body, expand).execute();
    }

    /**
     * Update an existing Paylink_id.
     * @param  paylinkId  Required parameter: System generatedPaylink Id
     * @param  body  Required parameter:
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @return    Returns the ResponsePaylink response from the API call
     */
    public CompletableFuture<ResponsePaylink> updatePaylinkAsync(
            final String paylinkId,
            final V1PaylinksRequest1 body,
            final List<Expand17Enum> expand) {
        try {
            return prepareUpdatePaylinkRequest(paylinkId, body, expand).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for updatePaylink.
     */
    private ApiCall<ResponsePaylink, ApiException> prepareUpdatePaylinkRequest(
            final String paylinkId,
            final V1PaylinksRequest1 body,
            final List<Expand17Enum> expand) {
        return new ApiCall.Builder<ResponsePaylink, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/paylinks/{paylink_id}")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .queryParam(param -> param.key("expand")
                                .value(Expand17Enum.toValue(expand)).isRequired(false))
                        .templateParam(param -> param.key("paylink_id").value(paylinkId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.PATCH))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, ResponsePaylink.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401tokenException(reason, context)))
                        .localErrorCase("412",
                                 ErrorCase.setReason("Precondition Failed",
                                (reason, context) -> new Response412Exception(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Resend the Paylink via email or sms.
     * @param  paylinkId  Required parameter: System generatedPaylink Id
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @param  email  Optional parameter: Resend Email
     * @param  sms  Optional parameter: Resend SMS
     * @return    Returns the ResponsePaylink response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ResponsePaylink resendPaylink(
            final String paylinkId,
            final List<Expand17Enum> expand,
            final EmailEnum email,
            final SmsEnum sms) throws ApiException, IOException {
        return prepareResendPaylinkRequest(paylinkId, expand, email, sms).execute();
    }

    /**
     * Resend the Paylink via email or sms.
     * @param  paylinkId  Required parameter: System generatedPaylink Id
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @param  email  Optional parameter: Resend Email
     * @param  sms  Optional parameter: Resend SMS
     * @return    Returns the ResponsePaylink response from the API call
     */
    public CompletableFuture<ResponsePaylink> resendPaylinkAsync(
            final String paylinkId,
            final List<Expand17Enum> expand,
            final EmailEnum email,
            final SmsEnum sms) {
        try {
            return prepareResendPaylinkRequest(paylinkId, expand, email, sms).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for resendPaylink.
     */
    private ApiCall<ResponsePaylink, ApiException> prepareResendPaylinkRequest(
            final String paylinkId,
            final List<Expand17Enum> expand,
            final EmailEnum email,
            final SmsEnum sms) {
        return new ApiCall.Builder<ResponsePaylink, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/paylinks/{paylink_id}/resend")
                        .queryParam(param -> param.key("expand")
                                .value(Expand17Enum.toValue(expand)).isRequired(false))
                        .queryParam(param -> param.key("email")
                                .value((email != null) ? email.value() : null).isRequired(false))
                        .queryParam(param -> param.key("sms")
                                .value((sms != null) ? sms.value() : null).isRequired(false))
                        .templateParam(param -> param.key("paylink_id").value(paylinkId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.PUT))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, ResponsePaylink.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401tokenException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}