/*
 * FortisAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package tech.fortis.sandbox.api.controllers;

import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;
import tech.fortis.sandbox.api.ApiHelper;
import tech.fortis.sandbox.api.Server;
import tech.fortis.sandbox.api.exceptions.ApiException;
import tech.fortis.sandbox.api.exceptions.Response401tokenException;
import tech.fortis.sandbox.api.http.request.HttpMethod;
import tech.fortis.sandbox.api.models.ResponsePaymentCardReaderToken;

/**
 * This class lists all the endpoints of the groups.
 */
public final class PaymentCardReaderTokenController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public PaymentCardReaderTokenController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * For initializing iPhone card readers for Apple Tap to Pay transactions.
     * @param  productTransactionId  Required parameter: Product Transaction ID to be used to
     *         initialize the card reader
     * @return    Returns the ResponsePaymentCardReaderToken response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ResponsePaymentCardReaderToken paymentCardReaderTokenRequest(
            final String productTransactionId) throws ApiException, IOException {
        return preparePaymentCardReaderTokenRequestRequest(productTransactionId).execute();
    }

    /**
     * For initializing iPhone card readers for Apple Tap to Pay transactions.
     * @param  productTransactionId  Required parameter: Product Transaction ID to be used to
     *         initialize the card reader
     * @return    Returns the ResponsePaymentCardReaderToken response from the API call
     */
    public CompletableFuture<ResponsePaymentCardReaderToken> paymentCardReaderTokenRequestAsync(
            final String productTransactionId) {
        try {
            return preparePaymentCardReaderTokenRequestRequest(productTransactionId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for paymentCardReaderTokenRequest.
     */
    private ApiCall<ResponsePaymentCardReaderToken, ApiException> preparePaymentCardReaderTokenRequestRequest(
            final String productTransactionId) {
        return new ApiCall.Builder<ResponsePaymentCardReaderToken, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/payment-card-reader-token")
                        .queryParam(param -> param.key("product_transaction_id")
                                .value(productTransactionId))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, ResponsePaymentCardReaderToken.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401tokenException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}