/*
 * FortisApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package tech.fortis.sandbox.api.controllers;

import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.List;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;
import tech.fortis.sandbox.api.ApiHelper;
import tech.fortis.sandbox.api.Server;
import tech.fortis.sandbox.api.exceptions.ApiException;
import tech.fortis.sandbox.api.exceptions.Response401TokenException;
import tech.fortis.sandbox.api.exceptions.Response412Exception;
import tech.fortis.sandbox.api.http.request.HttpMethod;
import tech.fortis.sandbox.api.http.response.ApiResponse;
import tech.fortis.sandbox.api.models.Email;
import tech.fortis.sandbox.api.models.Expand17;
import tech.fortis.sandbox.api.models.Field41;
import tech.fortis.sandbox.api.models.FilterBy;
import tech.fortis.sandbox.api.models.Format1;
import tech.fortis.sandbox.api.models.Order21;
import tech.fortis.sandbox.api.models.Page1;
import tech.fortis.sandbox.api.models.ResponseQuickInvoice;
import tech.fortis.sandbox.api.models.ResponseQuickInvoiceResend;
import tech.fortis.sandbox.api.models.ResponseQuickInvoicesCollection;
import tech.fortis.sandbox.api.models.Sms;
import tech.fortis.sandbox.api.models.V1QuickInvoicesRequest;
import tech.fortis.sandbox.api.models.V1QuickInvoicesRequest1;
import tech.fortis.sandbox.api.models.V1QuickInvoicesTransactionRequest;

/**
 * This class lists all the endpoints of the groups.
 */
public final class QuickInvoicesController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public QuickInvoicesController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * @param  body  Required parameter:
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @return    Returns the ResponseQuickInvoice wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ResponseQuickInvoice> createanewquickinvoice(
            final V1QuickInvoicesRequest body,
            final List<Expand17> expand) throws ApiException, IOException {
        return prepareCreateanewquickinvoiceRequest(body, expand).execute();
    }

    /**
     * @param  body  Required parameter:
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @return    Returns the ResponseQuickInvoice wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ResponseQuickInvoice>> createanewquickinvoiceAsync(
            final V1QuickInvoicesRequest body,
            final List<Expand17> expand) {
        try {
            return prepareCreateanewquickinvoiceRequest(body, expand).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for createanewquickinvoice.
     */
    private ApiCall<ApiResponse<ResponseQuickInvoice>, ApiException> prepareCreateanewquickinvoiceRequest(
            final V1QuickInvoicesRequest body,
            final List<Expand17> expand) {
        return new ApiCall.Builder<ApiResponse<ResponseQuickInvoice>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/quick-invoices")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .queryParam(param -> param.key("expand")
                                .value(Expand17.toValue(expand)).isRequired(false))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ResponseQuickInvoice.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401TokenException(reason, context)))
                        .localErrorCase("412",
                                 ErrorCase.setReason("Precondition Failed",
                                (reason, context) -> new Response412Exception(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  page  Optional parameter: Use this field to specify paginate your results, by using
     *         page size and number. You can use one of the following methods: &gt;/endpoint?page={
     *         "number": 1, "size": 50 } &gt; &gt;/endpoint?page[number]=1&amp;page[size]=50 &gt;
     * @param  order  Optional parameter: Criteria used in query string parameters to order results.
     *         Most fields from the endpoint results can be used as a `key`. Unsupported fields or
     *         operators will return a `412`. Must be encoded, or use syntax that does not require
     *         encoding. &gt;/endpoint?order[0][key]=created_ts&amp;order[0][operator]=asc &gt;
     *         &gt;/endpoint?order=[{ "key": "created_ts", "operator": "asc"}] &gt;
     *         &gt;/endpoint?order=[{ "key": "balance", "operator": "desc"},{ "key": "created_ts",
     *         "operator": "asc"}] &gt;
     * @param  filterBy  Optional parameter: Filter criteria that can be used in query string
     *         parameters. Most fields from the endpoint results can be used as a `key`. Unsupported
     *         fields or operators will return a `412`. Must be encoded, or use syntax that does not
     *         require encoding.
     *         &gt;?filter_by[0][key]=first_name&amp;filter_by[0][operator]==&amp;filter_by[0][value]=Steve
     *         &gt; &gt;/endpoint?filter_by=[{ "key": "first_name", "operator": "=", "value": "Fred"
     *         }] &gt; &gt;/endpoint?filter_by=[{ "key": "account_type", "operator": "=", "value":
     *         "VISA" }] &gt; &gt;/endpoint?filter_by=[{ "key": "created_ts", "operator": "&gt;=",
     *         "value": "946702799" }, { "key": "created_ts", "operator": "&lt;=", value:
     *         "1695061891" }] &gt; &gt;/endpoint?filter_by=[{ "key": "last_name", "operator": "IN",
     *         "value": "Williams,Brown,Allman" }] &gt;
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @param  format  Optional parameter: Reporting format, valid values: csv, tsv
     * @param  typeahead  Optional parameter: You can use any `field_name` from this endpoint
     *         results to order the list using the value provided as filter for the same
     *         `field_name`. It will be ordered using the following rules: 1) Exact match, 2) Starts
     *         with, 3) Contains. &gt;/endpoint?filter={ "field_name": "Value"
     *         }&amp;_typeahead=field_name &gt;
     * @param  fields  Optional parameter: You can use any `field_name` from this endpoint results
     *         to filter the list of fields returned on the response.
     * @return    Returns the ResponseQuickInvoicesCollection wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ResponseQuickInvoicesCollection> listallquickinvoicesrelated(
            final Page1 page,
            final List<Order21> order,
            final List<FilterBy> filterBy,
            final List<Expand17> expand,
            final Format1 format,
            final String typeahead,
            final List<Field41> fields) throws ApiException, IOException {
        return prepareListallquickinvoicesrelatedRequest(page, order, filterBy, expand, format,
                typeahead, fields).execute();
    }

    /**
     * @param  page  Optional parameter: Use this field to specify paginate your results, by using
     *         page size and number. You can use one of the following methods: &gt;/endpoint?page={
     *         "number": 1, "size": 50 } &gt; &gt;/endpoint?page[number]=1&amp;page[size]=50 &gt;
     * @param  order  Optional parameter: Criteria used in query string parameters to order results.
     *         Most fields from the endpoint results can be used as a `key`. Unsupported fields or
     *         operators will return a `412`. Must be encoded, or use syntax that does not require
     *         encoding. &gt;/endpoint?order[0][key]=created_ts&amp;order[0][operator]=asc &gt;
     *         &gt;/endpoint?order=[{ "key": "created_ts", "operator": "asc"}] &gt;
     *         &gt;/endpoint?order=[{ "key": "balance", "operator": "desc"},{ "key": "created_ts",
     *         "operator": "asc"}] &gt;
     * @param  filterBy  Optional parameter: Filter criteria that can be used in query string
     *         parameters. Most fields from the endpoint results can be used as a `key`. Unsupported
     *         fields or operators will return a `412`. Must be encoded, or use syntax that does not
     *         require encoding.
     *         &gt;?filter_by[0][key]=first_name&amp;filter_by[0][operator]==&amp;filter_by[0][value]=Steve
     *         &gt; &gt;/endpoint?filter_by=[{ "key": "first_name", "operator": "=", "value": "Fred"
     *         }] &gt; &gt;/endpoint?filter_by=[{ "key": "account_type", "operator": "=", "value":
     *         "VISA" }] &gt; &gt;/endpoint?filter_by=[{ "key": "created_ts", "operator": "&gt;=",
     *         "value": "946702799" }, { "key": "created_ts", "operator": "&lt;=", value:
     *         "1695061891" }] &gt; &gt;/endpoint?filter_by=[{ "key": "last_name", "operator": "IN",
     *         "value": "Williams,Brown,Allman" }] &gt;
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @param  format  Optional parameter: Reporting format, valid values: csv, tsv
     * @param  typeahead  Optional parameter: You can use any `field_name` from this endpoint
     *         results to order the list using the value provided as filter for the same
     *         `field_name`. It will be ordered using the following rules: 1) Exact match, 2) Starts
     *         with, 3) Contains. &gt;/endpoint?filter={ "field_name": "Value"
     *         }&amp;_typeahead=field_name &gt;
     * @param  fields  Optional parameter: You can use any `field_name` from this endpoint results
     *         to filter the list of fields returned on the response.
     * @return    Returns the ResponseQuickInvoicesCollection wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ResponseQuickInvoicesCollection>> listallquickinvoicesrelatedAsync(
            final Page1 page,
            final List<Order21> order,
            final List<FilterBy> filterBy,
            final List<Expand17> expand,
            final Format1 format,
            final String typeahead,
            final List<Field41> fields) {
        try {
            return prepareListallquickinvoicesrelatedRequest(page, order, filterBy, expand, format,
            typeahead, fields).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for listallquickinvoicesrelated.
     */
    private ApiCall<ApiResponse<ResponseQuickInvoicesCollection>, ApiException> prepareListallquickinvoicesrelatedRequest(
            final Page1 page,
            final List<Order21> order,
            final List<FilterBy> filterBy,
            final List<Expand17> expand,
            final Format1 format,
            final String typeahead,
            final List<Field41> fields) {
        return new ApiCall.Builder<ApiResponse<ResponseQuickInvoicesCollection>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/quick-invoices")
                        .queryParam(param -> param.key("page")
                                .value(page).isRequired(false))
                        .queryParam(param -> param.key("order")
                                .value(order).isRequired(false))
                        .queryParam(param -> param.key("filter_by")
                                .value(filterBy).isRequired(false))
                        .queryParam(param -> param.key("expand")
                                .value(Expand17.toValue(expand)).isRequired(false))
                        .queryParam(param -> param.key("_format")
                                .value((format != null) ? format.value() : null).isRequired(false))
                        .queryParam(param -> param.key("_typeahead")
                                .value(typeahead).isRequired(false))
                        .queryParam(param -> param.key("fields")
                                .value(Field41.toValue(fields)).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ResponseQuickInvoicesCollection.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401TokenException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  quickInvoiceId  Required parameter: Quick Invoice ID
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @param  email  Optional parameter: Resend Email
     * @param  sms  Optional parameter: Resend SMS
     * @return    Returns the ResponseQuickInvoiceResend wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ResponseQuickInvoiceResend> resend(
            final String quickInvoiceId,
            final List<String> expand,
            final Email email,
            final Sms sms) throws ApiException, IOException {
        return prepareResendRequest(quickInvoiceId, expand, email, sms).execute();
    }

    /**
     * @param  quickInvoiceId  Required parameter: Quick Invoice ID
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @param  email  Optional parameter: Resend Email
     * @param  sms  Optional parameter: Resend SMS
     * @return    Returns the ResponseQuickInvoiceResend wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ResponseQuickInvoiceResend>> resendAsync(
            final String quickInvoiceId,
            final List<String> expand,
            final Email email,
            final Sms sms) {
        try {
            return prepareResendRequest(quickInvoiceId, expand, email, sms).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for resend.
     */
    private ApiCall<ApiResponse<ResponseQuickInvoiceResend>, ApiException> prepareResendRequest(
            final String quickInvoiceId,
            final List<String> expand,
            final Email email,
            final Sms sms) {
        return new ApiCall.Builder<ApiResponse<ResponseQuickInvoiceResend>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/quick-invoices/{quick_invoice_id}/resend")
                        .queryParam(param -> param.key("expand")
                                .value(expand).isRequired(false))
                        .queryParam(param -> param.key("email")
                                .value((email != null) ? email.value() : null).isRequired(false))
                        .queryParam(param -> param.key("sms")
                                .value((sms != null) ? sms.value() : null).isRequired(false))
                        .templateParam(param -> param.key("quick_invoice_id").value(quickInvoiceId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ResponseQuickInvoiceResend.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401TokenException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  quickInvoiceId  Required parameter: Quick Invoice ID
     * @param  body  Required parameter:
     * @return    Returns the ResponseQuickInvoice wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ResponseQuickInvoice> associateTransactionwithOuickInvoice(
            final String quickInvoiceId,
            final V1QuickInvoicesTransactionRequest body) throws ApiException, IOException {
        return prepareAssociateTransactionwithOuickInvoiceRequest(quickInvoiceId, body).execute();
    }

    /**
     * @param  quickInvoiceId  Required parameter: Quick Invoice ID
     * @param  body  Required parameter:
     * @return    Returns the ResponseQuickInvoice wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ResponseQuickInvoice>> associateTransactionwithOuickInvoiceAsync(
            final String quickInvoiceId,
            final V1QuickInvoicesTransactionRequest body) {
        try {
            return prepareAssociateTransactionwithOuickInvoiceRequest(quickInvoiceId, body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for associateTransactionwithOuickInvoice.
     */
    private ApiCall<ApiResponse<ResponseQuickInvoice>, ApiException> prepareAssociateTransactionwithOuickInvoiceRequest(
            final String quickInvoiceId,
            final V1QuickInvoicesTransactionRequest body) {
        return new ApiCall.Builder<ApiResponse<ResponseQuickInvoice>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/quick-invoices/{quick_invoice_id}/transaction")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .templateParam(param -> param.key("quick_invoice_id").value(quickInvoiceId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ResponseQuickInvoice.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401TokenException(reason, context)))
                        .localErrorCase("412",
                                 ErrorCase.setReason("Precondition Failed",
                                (reason, context) -> new Response412Exception(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  quickInvoiceId  Required parameter: Quick Invoice ID
     * @param  body  Required parameter:
     * @return    Returns the ResponseQuickInvoice wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ResponseQuickInvoice> removetransactionfromQuickInvoice(
            final String quickInvoiceId,
            final V1QuickInvoicesTransactionRequest body) throws ApiException, IOException {
        return prepareRemovetransactionfromQuickInvoiceRequest(quickInvoiceId, body).execute();
    }

    /**
     * @param  quickInvoiceId  Required parameter: Quick Invoice ID
     * @param  body  Required parameter:
     * @return    Returns the ResponseQuickInvoice wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ResponseQuickInvoice>> removetransactionfromQuickInvoiceAsync(
            final String quickInvoiceId,
            final V1QuickInvoicesTransactionRequest body) {
        try {
            return prepareRemovetransactionfromQuickInvoiceRequest(quickInvoiceId, body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for removetransactionfromQuickInvoice.
     */
    private ApiCall<ApiResponse<ResponseQuickInvoice>, ApiException> prepareRemovetransactionfromQuickInvoiceRequest(
            final String quickInvoiceId,
            final V1QuickInvoicesTransactionRequest body) {
        return new ApiCall.Builder<ApiResponse<ResponseQuickInvoice>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/quick-invoices/{quick_invoice_id}/transaction")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .templateParam(param -> param.key("quick_invoice_id").value(quickInvoiceId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.DELETE))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ResponseQuickInvoice.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401TokenException(reason, context)))
                        .localErrorCase("412",
                                 ErrorCase.setReason("Precondition Failed",
                                (reason, context) -> new Response412Exception(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  quickInvoiceId  Required parameter: Quick Invoice ID
     * @return    Returns the ResponseQuickInvoice wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ResponseQuickInvoice> deletequickInvoice(
            final String quickInvoiceId) throws ApiException, IOException {
        return prepareDeletequickInvoiceRequest(quickInvoiceId).execute();
    }

    /**
     * @param  quickInvoiceId  Required parameter: Quick Invoice ID
     * @return    Returns the ResponseQuickInvoice wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ResponseQuickInvoice>> deletequickInvoiceAsync(
            final String quickInvoiceId) {
        try {
            return prepareDeletequickInvoiceRequest(quickInvoiceId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for deletequickInvoice.
     */
    private ApiCall<ApiResponse<ResponseQuickInvoice>, ApiException> prepareDeletequickInvoiceRequest(
            final String quickInvoiceId) {
        return new ApiCall.Builder<ApiResponse<ResponseQuickInvoice>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/quick-invoices/{quick_invoice_id}")
                        .templateParam(param -> param.key("quick_invoice_id").value(quickInvoiceId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.DELETE))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ResponseQuickInvoice.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401TokenException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  quickInvoiceId  Required parameter: Quick Invoice ID
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @param  fields  Optional parameter: You can use any `field_name` from this endpoint results
     *         to filter the list of fields returned on the response.
     * @return    Returns the ResponseQuickInvoice wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ResponseQuickInvoice> viewsinglequickinvoicerecord(
            final String quickInvoiceId,
            final List<Expand17> expand,
            final List<Field41> fields) throws ApiException, IOException {
        return prepareViewsinglequickinvoicerecordRequest(quickInvoiceId, expand, fields).execute();
    }

    /**
     * @param  quickInvoiceId  Required parameter: Quick Invoice ID
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @param  fields  Optional parameter: You can use any `field_name` from this endpoint results
     *         to filter the list of fields returned on the response.
     * @return    Returns the ResponseQuickInvoice wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ResponseQuickInvoice>> viewsinglequickinvoicerecordAsync(
            final String quickInvoiceId,
            final List<Expand17> expand,
            final List<Field41> fields) {
        try {
            return prepareViewsinglequickinvoicerecordRequest(quickInvoiceId, expand,
            fields).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for viewsinglequickinvoicerecord.
     */
    private ApiCall<ApiResponse<ResponseQuickInvoice>, ApiException> prepareViewsinglequickinvoicerecordRequest(
            final String quickInvoiceId,
            final List<Expand17> expand,
            final List<Field41> fields) {
        return new ApiCall.Builder<ApiResponse<ResponseQuickInvoice>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/quick-invoices/{quick_invoice_id}")
                        .queryParam(param -> param.key("expand")
                                .value(Expand17.toValue(expand)).isRequired(false))
                        .queryParam(param -> param.key("fields")
                                .value(Field41.toValue(fields)).isRequired(false))
                        .templateParam(param -> param.key("quick_invoice_id").value(quickInvoiceId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ResponseQuickInvoice.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401TokenException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * NOTE: A quick invoice can not be updated if it is already closed. Once a partial payment is
     * made, the item list should not be editable.
     * @param  quickInvoiceId  Required parameter: Quick Invoice ID
     * @param  body  Required parameter:
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @return    Returns the ResponseQuickInvoice wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ResponseQuickInvoice> updatequickinvoice(
            final String quickInvoiceId,
            final V1QuickInvoicesRequest1 body,
            final List<Expand17> expand) throws ApiException, IOException {
        return prepareUpdatequickinvoiceRequest(quickInvoiceId, body, expand).execute();
    }

    /**
     * NOTE: A quick invoice can not be updated if it is already closed. Once a partial payment is
     * made, the item list should not be editable.
     * @param  quickInvoiceId  Required parameter: Quick Invoice ID
     * @param  body  Required parameter:
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @return    Returns the ResponseQuickInvoice wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ResponseQuickInvoice>> updatequickinvoiceAsync(
            final String quickInvoiceId,
            final V1QuickInvoicesRequest1 body,
            final List<Expand17> expand) {
        try {
            return prepareUpdatequickinvoiceRequest(quickInvoiceId, body, expand).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for updatequickinvoice.
     */
    private ApiCall<ApiResponse<ResponseQuickInvoice>, ApiException> prepareUpdatequickinvoiceRequest(
            final String quickInvoiceId,
            final V1QuickInvoicesRequest1 body,
            final List<Expand17> expand) {
        return new ApiCall.Builder<ApiResponse<ResponseQuickInvoice>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/quick-invoices/{quick_invoice_id}")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .queryParam(param -> param.key("expand")
                                .value(Expand17.toValue(expand)).isRequired(false))
                        .templateParam(param -> param.key("quick_invoice_id").value(quickInvoiceId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.PATCH))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ResponseQuickInvoice.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401TokenException(reason, context)))
                        .localErrorCase("412",
                                 ErrorCase.setReason("Precondition Failed",
                                (reason, context) -> new Response412Exception(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  quickInvoiceId  Required parameter: Quick Invoice ID
     * @return    Returns the ResponseQuickInvoice wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ResponseQuickInvoice> reopenquickinvoice(
            final String quickInvoiceId) throws ApiException, IOException {
        return prepareReopenquickinvoiceRequest(quickInvoiceId).execute();
    }

    /**
     * @param  quickInvoiceId  Required parameter: Quick Invoice ID
     * @return    Returns the ResponseQuickInvoice wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ResponseQuickInvoice>> reopenquickinvoiceAsync(
            final String quickInvoiceId) {
        try {
            return prepareReopenquickinvoiceRequest(quickInvoiceId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for reopenquickinvoice.
     */
    private ApiCall<ApiResponse<ResponseQuickInvoice>, ApiException> prepareReopenquickinvoiceRequest(
            final String quickInvoiceId) {
        return new ApiCall.Builder<ApiResponse<ResponseQuickInvoice>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/quick-invoices/{quick_invoice_id}/reopen")
                        .templateParam(param -> param.key("quick_invoice_id").value(quickInvoiceId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.PUT))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ResponseQuickInvoice.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401TokenException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}