/*
 * FortisApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package tech.fortis.sandbox.api.controllers;

import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;
import tech.fortis.sandbox.api.ApiHelper;
import tech.fortis.sandbox.api.Server;
import tech.fortis.sandbox.api.exceptions.ApiException;
import tech.fortis.sandbox.api.exceptions.Response401TokenException;
import tech.fortis.sandbox.api.exceptions.Response412Exception;
import tech.fortis.sandbox.api.http.request.HttpMethod;
import tech.fortis.sandbox.api.http.response.ApiResponse;
import tech.fortis.sandbox.api.models.ResponseTransaction;
import tech.fortis.sandbox.api.models.V1TransactionsCashRefundRequest;
import tech.fortis.sandbox.api.models.V1TransactionsCashSaleRequest;

/**
 * This class lists all the endpoints of the groups.
 */
public final class TransactionsCashController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public TransactionsCashController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Create a new cash refund transaction.
     * @param  body  Required parameter:
     * @return    Returns the ResponseTransaction wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ResponseTransaction> cashRefund(
            final V1TransactionsCashRefundRequest body) throws ApiException, IOException {
        return prepareCashRefundRequest(body).execute();
    }

    /**
     * Create a new cash refund transaction.
     * @param  body  Required parameter:
     * @return    Returns the ResponseTransaction wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ResponseTransaction>> cashRefundAsync(
            final V1TransactionsCashRefundRequest body) {
        try {
            return prepareCashRefundRequest(body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for cashRefund.
     */
    private ApiCall<ApiResponse<ResponseTransaction>, ApiException> prepareCashRefundRequest(
            final V1TransactionsCashRefundRequest body) {
        return new ApiCall.Builder<ApiResponse<ResponseTransaction>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/transactions/cash/refund")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ResponseTransaction.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401TokenException(reason, context)))
                        .localErrorCase("412",
                                 ErrorCase.setReason("Precondition Failed",
                                (reason, context) -> new Response412Exception(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Create a new cash sale transaction.
     * @param  body  Required parameter:
     * @return    Returns the ResponseTransaction wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ResponseTransaction> cashSale(
            final V1TransactionsCashSaleRequest body) throws ApiException, IOException {
        return prepareCashSaleRequest(body).execute();
    }

    /**
     * Create a new cash sale transaction.
     * @param  body  Required parameter:
     * @return    Returns the ResponseTransaction wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ResponseTransaction>> cashSaleAsync(
            final V1TransactionsCashSaleRequest body) {
        try {
            return prepareCashSaleRequest(body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for cashSale.
     */
    private ApiCall<ApiResponse<ResponseTransaction>, ApiException> prepareCashSaleRequest(
            final V1TransactionsCashSaleRequest body) {
        return new ApiCall.Builder<ApiResponse<ResponseTransaction>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/transactions/cash/sale")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ResponseTransaction.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401TokenException(reason, context)))
                        .localErrorCase("412",
                                 ErrorCase.setReason("Precondition Failed",
                                (reason, context) -> new Response412Exception(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}