/*
 * FortisAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package tech.fortis.sandbox.api.controllers;

import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import java.io.IOException;
import java.util.List;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;
import tech.fortis.sandbox.api.ApiHelper;
import tech.fortis.sandbox.api.Server;
import tech.fortis.sandbox.api.exceptions.ApiException;
import tech.fortis.sandbox.api.exceptions.Response401tokenException;
import tech.fortis.sandbox.api.exceptions.Response412Exception;
import tech.fortis.sandbox.api.http.request.HttpMethod;
import tech.fortis.sandbox.api.models.Expand60Enum;
import tech.fortis.sandbox.api.models.ResponseTransaction;
import tech.fortis.sandbox.api.models.V1TransactionsEbtVoucherClearRefundKeyedRequest;
import tech.fortis.sandbox.api.models.V1TransactionsEbtVoucherClearSaleKeyedRequest;

/**
 * This class lists all the endpoints of the groups.
 */
public final class TransactionsEBTCardController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public TransactionsEBTCardController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Create a new keyed EBT voucher clear refund transaction.
     * @param  body  Required parameter:
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @return    Returns the ResponseTransaction response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ResponseTransaction eBTVoucherClearRefund(
            final V1TransactionsEbtVoucherClearRefundKeyedRequest body,
            final List<Expand60Enum> expand) throws ApiException, IOException {
        return prepareEBTVoucherClearRefundRequest(body, expand).execute();
    }

    /**
     * Create a new keyed EBT voucher clear refund transaction.
     * @param  body  Required parameter:
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @return    Returns the ResponseTransaction response from the API call
     */
    public CompletableFuture<ResponseTransaction> eBTVoucherClearRefundAsync(
            final V1TransactionsEbtVoucherClearRefundKeyedRequest body,
            final List<Expand60Enum> expand) {
        try {
            return prepareEBTVoucherClearRefundRequest(body, expand).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for eBTVoucherClearRefund.
     */
    private ApiCall<ResponseTransaction, ApiException> prepareEBTVoucherClearRefundRequest(
            final V1TransactionsEbtVoucherClearRefundKeyedRequest body,
            final List<Expand60Enum> expand) {
        return new ApiCall.Builder<ResponseTransaction, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/transactions/ebt/voucher-clear-refund/keyed")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .queryParam(param -> param.key("expand")
                                .value(Expand60Enum.toValue(expand)).isRequired(false))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, ResponseTransaction.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401tokenException(reason, context)))
                        .localErrorCase("412",
                                 ErrorCase.setReason("Precondition Failed",
                                (reason, context) -> new Response412Exception(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Create a new keyed EBT voucher clear sale transaction.
     * @param  body  Required parameter:
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @return    Returns the ResponseTransaction response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ResponseTransaction eBTVoucherClearSale(
            final V1TransactionsEbtVoucherClearSaleKeyedRequest body,
            final List<Expand60Enum> expand) throws ApiException, IOException {
        return prepareEBTVoucherClearSaleRequest(body, expand).execute();
    }

    /**
     * Create a new keyed EBT voucher clear sale transaction.
     * @param  body  Required parameter:
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @return    Returns the ResponseTransaction response from the API call
     */
    public CompletableFuture<ResponseTransaction> eBTVoucherClearSaleAsync(
            final V1TransactionsEbtVoucherClearSaleKeyedRequest body,
            final List<Expand60Enum> expand) {
        try {
            return prepareEBTVoucherClearSaleRequest(body, expand).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for eBTVoucherClearSale.
     */
    private ApiCall<ResponseTransaction, ApiException> prepareEBTVoucherClearSaleRequest(
            final V1TransactionsEbtVoucherClearSaleKeyedRequest body,
            final List<Expand60Enum> expand) {
        return new ApiCall.Builder<ResponseTransaction, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/transactions/ebt/voucher-clear-sale/keyed")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .queryParam(param -> param.key("expand")
                                .value(Expand60Enum.toValue(expand)).isRequired(false))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, ResponseTransaction.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401tokenException(reason, context)))
                        .localErrorCase("412",
                                 ErrorCase.setReason("Precondition Failed",
                                (reason, context) -> new Response412Exception(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}