/*
 * FortisApiLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package tech.fortis.sandbox.api.controllers;

import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.List;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;
import tech.fortis.sandbox.api.ApiHelper;
import tech.fortis.sandbox.api.Server;
import tech.fortis.sandbox.api.exceptions.ApiException;
import tech.fortis.sandbox.api.exceptions.Response401TokenException;
import tech.fortis.sandbox.api.exceptions.Response412Exception;
import tech.fortis.sandbox.api.http.request.HttpMethod;
import tech.fortis.sandbox.api.http.response.ApiResponse;
import tech.fortis.sandbox.api.models.Expand117;
import tech.fortis.sandbox.api.models.Field60;
import tech.fortis.sandbox.api.models.FilterBy;
import tech.fortis.sandbox.api.models.Format1;
import tech.fortis.sandbox.api.models.Order21;
import tech.fortis.sandbox.api.models.Page1;
import tech.fortis.sandbox.api.models.ResponseRemoveVerification;
import tech.fortis.sandbox.api.models.ResponseSendVerification;
import tech.fortis.sandbox.api.models.ResponseUser;
import tech.fortis.sandbox.api.models.ResponseUserApiKey;
import tech.fortis.sandbox.api.models.ResponseUsersCollection;
import tech.fortis.sandbox.api.models.V1UsersRequest;
import tech.fortis.sandbox.api.models.V1UsersRequest1;

/**
 * This class lists all the endpoints of the groups.
 */
public final class UsersController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public UsersController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * @param  userId  Required parameter: User ID
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @return    Returns the ResponseUserApiKey wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ResponseUserApiKey> createanewApIkey(
            final String userId,
            final List<Expand117> expand) throws ApiException, IOException {
        return prepareCreateanewApIkeyRequest(userId, expand).execute();
    }

    /**
     * @param  userId  Required parameter: User ID
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @return    Returns the ResponseUserApiKey wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ResponseUserApiKey>> createanewApIkeyAsync(
            final String userId,
            final List<Expand117> expand) {
        try {
            return prepareCreateanewApIkeyRequest(userId, expand).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for createanewApIkey.
     */
    private ApiCall<ApiResponse<ResponseUserApiKey>, ApiException> prepareCreateanewApIkeyRequest(
            final String userId,
            final List<Expand117> expand) {
        return new ApiCall.Builder<ApiResponse<ResponseUserApiKey>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/users/{user_id}/api-key")
                        .queryParam(param -> param.key("expand")
                                .value(Expand117.toValue(expand)).isRequired(false))
                        .templateParam(param -> param.key("user_id").value(userId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ResponseUserApiKey.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401TokenException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  body  Required parameter:
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @return    Returns the ResponseUser wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ResponseUser> createanewuser(
            final V1UsersRequest body,
            final List<Expand117> expand) throws ApiException, IOException {
        return prepareCreateanewuserRequest(body, expand).execute();
    }

    /**
     * @param  body  Required parameter:
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @return    Returns the ResponseUser wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ResponseUser>> createanewuserAsync(
            final V1UsersRequest body,
            final List<Expand117> expand) {
        try {
            return prepareCreateanewuserRequest(body, expand).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for createanewuser.
     */
    private ApiCall<ApiResponse<ResponseUser>, ApiException> prepareCreateanewuserRequest(
            final V1UsersRequest body,
            final List<Expand117> expand) {
        return new ApiCall.Builder<ApiResponse<ResponseUser>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/users")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .queryParam(param -> param.key("expand")
                                .value(Expand117.toValue(expand)).isRequired(false))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ResponseUser.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401TokenException(reason, context)))
                        .localErrorCase("412",
                                 ErrorCase.setReason("Precondition Failed",
                                (reason, context) -> new Response412Exception(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  page  Optional parameter: Use this field to specify paginate your results, by using
     *         page size and number. You can use one of the following methods: &gt;/endpoint?page={
     *         "number": 1, "size": 50 } &gt; &gt;/endpoint?page[number]=1&amp;page[size]=50 &gt;
     * @param  order  Optional parameter: Criteria used in query string parameters to order results.
     *         Most fields from the endpoint results can be used as a `key`. Unsupported fields or
     *         operators will return a `412`. Must be encoded, or use syntax that does not require
     *         encoding. &gt;/endpoint?order[0][key]=created_ts&amp;order[0][operator]=asc &gt;
     *         &gt;/endpoint?order=[{ "key": "created_ts", "operator": "asc"}] &gt;
     *         &gt;/endpoint?order=[{ "key": "balance", "operator": "desc"},{ "key": "created_ts",
     *         "operator": "asc"}] &gt;
     * @param  filterBy  Optional parameter: Filter criteria that can be used in query string
     *         parameters. Most fields from the endpoint results can be used as a `key`. Unsupported
     *         fields or operators will return a `412`. Must be encoded, or use syntax that does not
     *         require encoding.
     *         &gt;?filter_by[0][key]=first_name&amp;filter_by[0][operator]==&amp;filter_by[0][value]=Steve
     *         &gt; &gt;/endpoint?filter_by=[{ "key": "first_name", "operator": "=", "value": "Fred"
     *         }] &gt; &gt;/endpoint?filter_by=[{ "key": "account_type", "operator": "=", "value":
     *         "VISA" }] &gt; &gt;/endpoint?filter_by=[{ "key": "created_ts", "operator": "&gt;=",
     *         "value": "946702799" }, { "key": "created_ts", "operator": "&lt;=", value:
     *         "1695061891" }] &gt; &gt;/endpoint?filter_by=[{ "key": "last_name", "operator": "IN",
     *         "value": "Williams,Brown,Allman" }] &gt;
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @param  format  Optional parameter: Reporting format, valid values: csv, tsv
     * @param  typeahead  Optional parameter: You can use any `field_name` from this endpoint
     *         results to order the list using the value provided as filter for the same
     *         `field_name`. It will be ordered using the following rules: 1) Exact match, 2) Starts
     *         with, 3) Contains. &gt;/endpoint?filter={ "field_name": "Value"
     *         }&amp;_typeahead=field_name &gt;
     * @param  fields  Optional parameter: You can use any `field_name` from this endpoint results
     *         to filter the list of fields returned on the response.
     * @return    Returns the ResponseUsersCollection wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ResponseUsersCollection> listallUser(
            final Page1 page,
            final List<Order21> order,
            final List<FilterBy> filterBy,
            final List<Expand117> expand,
            final Format1 format,
            final String typeahead,
            final List<Field60> fields) throws ApiException, IOException {
        return prepareListallUserRequest(page, order, filterBy, expand, format, typeahead,
                fields).execute();
    }

    /**
     * @param  page  Optional parameter: Use this field to specify paginate your results, by using
     *         page size and number. You can use one of the following methods: &gt;/endpoint?page={
     *         "number": 1, "size": 50 } &gt; &gt;/endpoint?page[number]=1&amp;page[size]=50 &gt;
     * @param  order  Optional parameter: Criteria used in query string parameters to order results.
     *         Most fields from the endpoint results can be used as a `key`. Unsupported fields or
     *         operators will return a `412`. Must be encoded, or use syntax that does not require
     *         encoding. &gt;/endpoint?order[0][key]=created_ts&amp;order[0][operator]=asc &gt;
     *         &gt;/endpoint?order=[{ "key": "created_ts", "operator": "asc"}] &gt;
     *         &gt;/endpoint?order=[{ "key": "balance", "operator": "desc"},{ "key": "created_ts",
     *         "operator": "asc"}] &gt;
     * @param  filterBy  Optional parameter: Filter criteria that can be used in query string
     *         parameters. Most fields from the endpoint results can be used as a `key`. Unsupported
     *         fields or operators will return a `412`. Must be encoded, or use syntax that does not
     *         require encoding.
     *         &gt;?filter_by[0][key]=first_name&amp;filter_by[0][operator]==&amp;filter_by[0][value]=Steve
     *         &gt; &gt;/endpoint?filter_by=[{ "key": "first_name", "operator": "=", "value": "Fred"
     *         }] &gt; &gt;/endpoint?filter_by=[{ "key": "account_type", "operator": "=", "value":
     *         "VISA" }] &gt; &gt;/endpoint?filter_by=[{ "key": "created_ts", "operator": "&gt;=",
     *         "value": "946702799" }, { "key": "created_ts", "operator": "&lt;=", value:
     *         "1695061891" }] &gt; &gt;/endpoint?filter_by=[{ "key": "last_name", "operator": "IN",
     *         "value": "Williams,Brown,Allman" }] &gt;
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @param  format  Optional parameter: Reporting format, valid values: csv, tsv
     * @param  typeahead  Optional parameter: You can use any `field_name` from this endpoint
     *         results to order the list using the value provided as filter for the same
     *         `field_name`. It will be ordered using the following rules: 1) Exact match, 2) Starts
     *         with, 3) Contains. &gt;/endpoint?filter={ "field_name": "Value"
     *         }&amp;_typeahead=field_name &gt;
     * @param  fields  Optional parameter: You can use any `field_name` from this endpoint results
     *         to filter the list of fields returned on the response.
     * @return    Returns the ResponseUsersCollection wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ResponseUsersCollection>> listallUserAsync(
            final Page1 page,
            final List<Order21> order,
            final List<FilterBy> filterBy,
            final List<Expand117> expand,
            final Format1 format,
            final String typeahead,
            final List<Field60> fields) {
        try {
            return prepareListallUserRequest(page, order, filterBy, expand, format, typeahead,
            fields).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for listallUser.
     */
    private ApiCall<ApiResponse<ResponseUsersCollection>, ApiException> prepareListallUserRequest(
            final Page1 page,
            final List<Order21> order,
            final List<FilterBy> filterBy,
            final List<Expand117> expand,
            final Format1 format,
            final String typeahead,
            final List<Field60> fields) {
        return new ApiCall.Builder<ApiResponse<ResponseUsersCollection>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/users")
                        .queryParam(param -> param.key("page")
                                .value(page).isRequired(false))
                        .queryParam(param -> param.key("order")
                                .value(order).isRequired(false))
                        .queryParam(param -> param.key("filter_by")
                                .value(filterBy).isRequired(false))
                        .queryParam(param -> param.key("expand")
                                .value(Expand117.toValue(expand)).isRequired(false))
                        .queryParam(param -> param.key("_format")
                                .value((format != null) ? format.value() : null).isRequired(false))
                        .queryParam(param -> param.key("_typeahead")
                                .value(typeahead).isRequired(false))
                        .queryParam(param -> param.key("fields")
                                .value(Field60.toValue(fields)).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ResponseUsersCollection.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401TokenException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  userId  Required parameter: User ID
     * @return    Returns the ResponseUser wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ResponseUser> deleteauserrecord(
            final String userId) throws ApiException, IOException {
        return prepareDeleteauserrecordRequest(userId).execute();
    }

    /**
     * @param  userId  Required parameter: User ID
     * @return    Returns the ResponseUser wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ResponseUser>> deleteauserrecordAsync(
            final String userId) {
        try {
            return prepareDeleteauserrecordRequest(userId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for deleteauserrecord.
     */
    private ApiCall<ApiResponse<ResponseUser>, ApiException> prepareDeleteauserrecordRequest(
            final String userId) {
        return new ApiCall.Builder<ApiResponse<ResponseUser>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/users/{user_id}")
                        .templateParam(param -> param.key("user_id").value(userId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.DELETE))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ResponseUser.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401TokenException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  userId  Required parameter: User ID
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @param  fields  Optional parameter: You can use any `field_name` from this endpoint results
     *         to filter the list of fields returned on the response.
     * @return    Returns the ResponseUser wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ResponseUser> viewsingleuserrecord(
            final String userId,
            final List<Expand117> expand,
            final List<Field60> fields) throws ApiException, IOException {
        return prepareViewsingleuserrecordRequest(userId, expand, fields).execute();
    }

    /**
     * @param  userId  Required parameter: User ID
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @param  fields  Optional parameter: You can use any `field_name` from this endpoint results
     *         to filter the list of fields returned on the response.
     * @return    Returns the ResponseUser wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ResponseUser>> viewsingleuserrecordAsync(
            final String userId,
            final List<Expand117> expand,
            final List<Field60> fields) {
        try {
            return prepareViewsingleuserrecordRequest(userId, expand, fields).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for viewsingleuserrecord.
     */
    private ApiCall<ApiResponse<ResponseUser>, ApiException> prepareViewsingleuserrecordRequest(
            final String userId,
            final List<Expand117> expand,
            final List<Field60> fields) {
        return new ApiCall.Builder<ApiResponse<ResponseUser>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/users/{user_id}")
                        .queryParam(param -> param.key("expand")
                                .value(Expand117.toValue(expand)).isRequired(false))
                        .queryParam(param -> param.key("fields")
                                .value(Field60.toValue(fields)).isRequired(false))
                        .templateParam(param -> param.key("user_id").value(userId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ResponseUser.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401TokenException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  userId  Required parameter: User ID
     * @param  body  Required parameter:
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @return    Returns the ResponseUser wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ResponseUser> updateauserrecord(
            final String userId,
            final V1UsersRequest1 body,
            final List<Expand117> expand) throws ApiException, IOException {
        return prepareUpdateauserrecordRequest(userId, body, expand).execute();
    }

    /**
     * @param  userId  Required parameter: User ID
     * @param  body  Required parameter:
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @return    Returns the ResponseUser wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ResponseUser>> updateauserrecordAsync(
            final String userId,
            final V1UsersRequest1 body,
            final List<Expand117> expand) {
        try {
            return prepareUpdateauserrecordRequest(userId, body, expand).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for updateauserrecord.
     */
    private ApiCall<ApiResponse<ResponseUser>, ApiException> prepareUpdateauserrecordRequest(
            final String userId,
            final V1UsersRequest1 body,
            final List<Expand117> expand) {
        return new ApiCall.Builder<ApiResponse<ResponseUser>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/users/{user_id}")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .queryParam(param -> param.key("expand")
                                .value(Expand117.toValue(expand)).isRequired(false))
                        .templateParam(param -> param.key("user_id").value(userId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.PATCH))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ResponseUser.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401TokenException(reason, context)))
                        .localErrorCase("412",
                                 ErrorCase.setReason("Precondition Failed",
                                (reason, context) -> new Response412Exception(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @param  fields  Optional parameter: You can use any `field_name` from this endpoint results
     *         to filter the list of fields returned on the response.
     * @return    Returns the ResponseUser wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ResponseUser> viewselfrecord(
            final List<Expand117> expand,
            final List<Field60> fields) throws ApiException, IOException {
        return prepareViewselfrecordRequest(expand, fields).execute();
    }

    /**
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @param  fields  Optional parameter: You can use any `field_name` from this endpoint results
     *         to filter the list of fields returned on the response.
     * @return    Returns the ResponseUser wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ResponseUser>> viewselfrecordAsync(
            final List<Expand117> expand,
            final List<Field60> fields) {
        try {
            return prepareViewselfrecordRequest(expand, fields).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for viewselfrecord.
     */
    private ApiCall<ApiResponse<ResponseUser>, ApiException> prepareViewselfrecordRequest(
            final List<Expand117> expand,
            final List<Field60> fields) {
        return new ApiCall.Builder<ApiResponse<ResponseUser>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/users/me")
                        .queryParam(param -> param.key("expand")
                                .value(Expand117.toValue(expand)).isRequired(false))
                        .queryParam(param -> param.key("fields")
                                .value(Field60.toValue(fields)).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ResponseUser.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401TokenException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Remove the pending user.
     * @param  userId  Required parameter:
     * @return    Returns the ResponseRemoveVerification wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ResponseRemoveVerification> removeverification(
            final String userId) throws ApiException, IOException {
        return prepareRemoveverificationRequest(userId).execute();
    }

    /**
     * Remove the pending user.
     * @param  userId  Required parameter:
     * @return    Returns the ResponseRemoveVerification wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ResponseRemoveVerification>> removeverificationAsync(
            final String userId) {
        try {
            return prepareRemoveverificationRequest(userId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for removeverification.
     */
    private ApiCall<ApiResponse<ResponseRemoveVerification>, ApiException> prepareRemoveverificationRequest(
            final String userId) {
        return new ApiCall.Builder<ApiResponse<ResponseRemoveVerification>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/users/{user_id}/remove-verification")
                        .templateParam(param -> param.key("user_id").value(userId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.DELETE))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ResponseRemoveVerification.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401TokenException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Send an verification email to the pending user.
     * @param  userId  Required parameter:
     * @return    Returns the ResponseSendVerification wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ResponseSendVerification> sendverification(
            final String userId) throws ApiException, IOException {
        return prepareSendverificationRequest(userId).execute();
    }

    /**
     * Send an verification email to the pending user.
     * @param  userId  Required parameter:
     * @return    Returns the ResponseSendVerification wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ResponseSendVerification>> sendverificationAsync(
            final String userId) {
        try {
            return prepareSendverificationRequest(userId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for sendverification.
     */
    private ApiCall<ApiResponse<ResponseSendVerification>, ApiException> prepareSendverificationRequest(
            final String userId) {
        return new ApiCall.Builder<ApiResponse<ResponseSendVerification>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/users/{user_id}/send-verification")
                        .templateParam(param -> param.key("user_id").value(userId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ResponseSendVerification.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401TokenException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}