/*
 * FortisAPILib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package tech.fortis.sandbox.api.controllers;

import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import java.io.IOException;
import java.util.List;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;
import tech.fortis.sandbox.api.ApiHelper;
import tech.fortis.sandbox.api.Server;
import tech.fortis.sandbox.api.exceptions.ApiException;
import tech.fortis.sandbox.api.exceptions.Response401tokenException;
import tech.fortis.sandbox.api.http.request.HttpMethod;
import tech.fortis.sandbox.api.models.Field59Enum;
import tech.fortis.sandbox.api.models.FilterBy;
import tech.fortis.sandbox.api.models.Format1Enum;
import tech.fortis.sandbox.api.models.Order21;
import tech.fortis.sandbox.api.models.Page;
import tech.fortis.sandbox.api.models.ResponseUserVerification;
import tech.fortis.sandbox.api.models.ResponseUserVerificationsCollection;

/**
 * This class lists all the endpoints of the groups.
 */
public final class UserVerificationsController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public UserVerificationsController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Get user verification.
     * @param  userVerificationId  Required parameter:
     * @return    Returns the ResponseUserVerification response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ResponseUserVerification getUserVerification(
            final String userVerificationId) throws ApiException, IOException {
        return prepareGetUserVerificationRequest(userVerificationId).execute();
    }

    /**
     * Get user verification.
     * @param  userVerificationId  Required parameter:
     * @return    Returns the ResponseUserVerification response from the API call
     */
    public CompletableFuture<ResponseUserVerification> getUserVerificationAsync(
            final String userVerificationId) {
        try {
            return prepareGetUserVerificationRequest(userVerificationId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for getUserVerification.
     */
    private ApiCall<ResponseUserVerification, ApiException> prepareGetUserVerificationRequest(
            final String userVerificationId) {
        return new ApiCall.Builder<ResponseUserVerification, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/user-verifications/{user_verification_id}")
                        .templateParam(param -> param.key("user_verification_id").value(userVerificationId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, ResponseUserVerification.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401tokenException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * List user verifications.
     * @param  page  Optional parameter: Use this field to specify paginate your results, by using
     *         page size and number. You can use one of the following methods: &gt;/endpoint?page={
     *         "number": 1, "size": 50 } &gt; &gt;/endpoint?page[number]=1&amp;page[size]=50 &gt;
     * @param  order  Optional parameter: Criteria used in query string parameters to order results.
     *         Most fields from the endpoint results can be used as a `key`. Unsupported fields or
     *         operators will return a `412`. Must be encoded, or use syntax that does not require
     *         encoding. &gt;/endpoint?order[0][key]=created_ts&amp;order[0][operator]=asc &gt;
     *         &gt;/endpoint?order=[{ "key": "created_ts", "operator": "asc"}] &gt;
     *         &gt;/endpoint?order=[{ "key": "balance", "operator": "desc"},{ "key": "created_ts",
     *         "operator": "asc"}] &gt;
     * @param  filterBy  Optional parameter: Filter criteria that can be used in query string
     *         parameters. Most fields from the endpoint results can be used as a `key`. Unsupported
     *         fields or operators will return a `412`. Must be encoded, or use syntax that does not
     *         require encoding.
     *         &gt;?filter_by[0][key]=first_name&amp;filter_by[0][operator]==&amp;filter_by[0][value]=Steve
     *         &gt; &gt;/endpoint?filter_by=[{ "key": "first_name", "operator": "=", "value": "Fred"
     *         }] &gt; &gt;/endpoint?filter_by=[{ "key": "account_type", "operator": "=", "value":
     *         "VISA" }] &gt; &gt;/endpoint?filter_by=[{ "key": "created_ts", "operator": "&gt;=",
     *         "value": "946702799" }, { "key": "created_ts", "operator": "&lt;=", value:
     *         "1695061891" }] &gt; &gt;/endpoint?filter_by=[{ "key": "last_name", "operator": "IN",
     *         "value": "Williams,Brown,Allman" }] &gt;
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @param  format  Optional parameter: Reporting format, valid values: csv, tsv
     * @param  typeahead  Optional parameter: You can use any `field_name` from this endpoint
     *         results to order the list using the value provided as filter for the same
     *         `field_name`. It will be ordered using the following rules: 1) Exact match, 2) Starts
     *         with, 3) Contains. &gt;/endpoint?filter={ "field_name": "Value"
     *         }&amp;_typeahead=field_name &gt;
     * @param  fields  Optional parameter: You can use any `field_name` from this endpoint results
     *         to filter the list of fields returned on the response.
     * @return    Returns the ResponseUserVerificationsCollection response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ResponseUserVerificationsCollection listUserVerifications(
            final Page page,
            final List<Order21> order,
            final List<FilterBy> filterBy,
            final List<String> expand,
            final Format1Enum format,
            final String typeahead,
            final List<Field59Enum> fields) throws ApiException, IOException {
        return prepareListUserVerificationsRequest(page, order, filterBy, expand, format, typeahead,
                fields).execute();
    }

    /**
     * List user verifications.
     * @param  page  Optional parameter: Use this field to specify paginate your results, by using
     *         page size and number. You can use one of the following methods: &gt;/endpoint?page={
     *         "number": 1, "size": 50 } &gt; &gt;/endpoint?page[number]=1&amp;page[size]=50 &gt;
     * @param  order  Optional parameter: Criteria used in query string parameters to order results.
     *         Most fields from the endpoint results can be used as a `key`. Unsupported fields or
     *         operators will return a `412`. Must be encoded, or use syntax that does not require
     *         encoding. &gt;/endpoint?order[0][key]=created_ts&amp;order[0][operator]=asc &gt;
     *         &gt;/endpoint?order=[{ "key": "created_ts", "operator": "asc"}] &gt;
     *         &gt;/endpoint?order=[{ "key": "balance", "operator": "desc"},{ "key": "created_ts",
     *         "operator": "asc"}] &gt;
     * @param  filterBy  Optional parameter: Filter criteria that can be used in query string
     *         parameters. Most fields from the endpoint results can be used as a `key`. Unsupported
     *         fields or operators will return a `412`. Must be encoded, or use syntax that does not
     *         require encoding.
     *         &gt;?filter_by[0][key]=first_name&amp;filter_by[0][operator]==&amp;filter_by[0][value]=Steve
     *         &gt; &gt;/endpoint?filter_by=[{ "key": "first_name", "operator": "=", "value": "Fred"
     *         }] &gt; &gt;/endpoint?filter_by=[{ "key": "account_type", "operator": "=", "value":
     *         "VISA" }] &gt; &gt;/endpoint?filter_by=[{ "key": "created_ts", "operator": "&gt;=",
     *         "value": "946702799" }, { "key": "created_ts", "operator": "&lt;=", value:
     *         "1695061891" }] &gt; &gt;/endpoint?filter_by=[{ "key": "last_name", "operator": "IN",
     *         "value": "Williams,Brown,Allman" }] &gt;
     * @param  expand  Optional parameter: Most endpoints in the API have a way to retrieve extra
     *         data related to the current record being retrieved. For example, if the API request
     *         is for the accountvaults endpoint, and the end user also needs to know which contact
     *         the token belongs to, this data can be returned in the accountvaults endpoint
     *         request.
     * @param  format  Optional parameter: Reporting format, valid values: csv, tsv
     * @param  typeahead  Optional parameter: You can use any `field_name` from this endpoint
     *         results to order the list using the value provided as filter for the same
     *         `field_name`. It will be ordered using the following rules: 1) Exact match, 2) Starts
     *         with, 3) Contains. &gt;/endpoint?filter={ "field_name": "Value"
     *         }&amp;_typeahead=field_name &gt;
     * @param  fields  Optional parameter: You can use any `field_name` from this endpoint results
     *         to filter the list of fields returned on the response.
     * @return    Returns the ResponseUserVerificationsCollection response from the API call
     */
    public CompletableFuture<ResponseUserVerificationsCollection> listUserVerificationsAsync(
            final Page page,
            final List<Order21> order,
            final List<FilterBy> filterBy,
            final List<String> expand,
            final Format1Enum format,
            final String typeahead,
            final List<Field59Enum> fields) {
        try {
            return prepareListUserVerificationsRequest(page, order, filterBy, expand, format, typeahead,
            fields).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for listUserVerifications.
     */
    private ApiCall<ResponseUserVerificationsCollection, ApiException> prepareListUserVerificationsRequest(
            final Page page,
            final List<Order21> order,
            final List<FilterBy> filterBy,
            final List<String> expand,
            final Format1Enum format,
            final String typeahead,
            final List<Field59Enum> fields) {
        return new ApiCall.Builder<ResponseUserVerificationsCollection, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.ENUM_DEFAULT.value())
                        .path("/v1/user-verifications")
                        .queryParam(param -> param.key("page")
                                .value(page).isRequired(false))
                        .queryParam(param -> param.key("order")
                                .value(order).isRequired(false))
                        .queryParam(param -> param.key("filter_by")
                                .value(filterBy).isRequired(false))
                        .queryParam(param -> param.key("expand")
                                .value(expand).isRequired(false))
                        .queryParam(param -> param.key("_format")
                                .value((format != null) ? format.value() : null).isRequired(false))
                        .queryParam(param -> param.key("_typeahead")
                                .value(typeahead).isRequired(false))
                        .queryParam(param -> param.key("fields")
                                .value(Field59Enum.toValue(fields)).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("user-id")
                                        .add("user-api-key")
                                        .add("developer-id")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .deserializer(
                                response -> ApiHelper.deserialize(response, ResponseUserVerificationsCollection.class))
                        .nullify404(false)
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new Response401tokenException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}